<!DOCTYPE html>
<html>
  <head>

    <title>萝卜兼职</title>

    <include file="Common/header"/>

  </head>
  <body>
    <div class="page-group">
        <div class="page page-current" id="catgList">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left" href="#index" data-panel='#chooseCity'>
                    <span class="icon icon-left"></span>
                   返回
                </a>
                <h1 class='title'>最新兼职</h1>
                <a class="button button-link button-nav pull-right" href="#login">
                    <span class="iconf iconf-user02"></span>
                </a>
            </header>
            <div class="wrapCatg">
                <!-- 筛选条件，主标签 -->
                <div class="tabGroup  buttons-tab fixed-tab" data-offset="44">
                    <div class="row no-gutter cateTab">
                        <div class="col-33 text-center pos_rela line_r" id="cate_region">
                            <font>区域</font>
                            <span class="icon icon-down"></span>
                        </div>
                        <div class="col-33 text-center pos_rela line_r" id="cate_category">
                            <font>分类</font>
                            <span class="icon icon-down"></span>
                        </div>
                        <div class="col-33 text-center" id="cate_timespan">
                            <font>时间</font>
                            <span class="icon icon-down"></span>
                        </div>
                    </div>
                </div>
                <!-- 筛选条件，副标签 -->
                <div class="wrapUl" id="wrapTabCat" style="display: none;">
                    <ul>
                        <li class="padd-20 pos_rela">不限</li>
                        <li class="padd-20 pos_rela">威海</li>
                        <li class="padd-20 pos_rela">青岛</li>
                        <li class="padd-20 pos_rela">潍坊</li>
                        <li class="padd-20 pos_rela">不限</li>
                        <li class="padd-20 pos_rela">威海</li>
                        <li class="padd-20 pos_rela">青岛</li>
                        <li class="padd-20 pos_rela">潍坊</li>
                        <li class="padd-20 pos_rela">不限</li>
                        <li class="padd-20 pos_rela">威海</li>
                        <li class="padd-20 pos_rela">青岛</li>
                        <li class="padd-20 pos_rela">潍坊</li>
                    </ul>
                </div>
            </div>
            <div class="content infinite-scroll infinite-scroll-bottom bg_white" id="catgListScroll" data-distance="10">
                <!-- 数据列表 -->
                <div class="wrapJob">
                    <ul class="jobList">
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType cateId1">文本</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgGreen">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">服务员</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgOrg">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">其他</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgRed">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">文本</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgGreen">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">服务员</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgOrg">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">其他</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgRed">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">文本</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgGreen">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">服务员</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgOrg">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">其他</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgRed">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="infinite-scroll-preloader">
                        <div class="preloader"></div>
                    </div>
                </div>
                <!-- 底部版权信息 -->
                <footer class="text-center padd_20">
                    <p class="fc_orange f16">萝卜兼职网</p>
                    <p class="fc_orange f10">www.luobojianzhi.com</p>
                    <p class="f10">最靠谱的大学生兼职平台</p>
                </footer>
            </div>
            <div class="mask mask_tabCat"></div>
        </div>
    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
 <script>
    $(function() {
       
    });
        
</script>
</html>