/* 商城相关样式文件*/

/* 商城首页*/
#shopList .swiper-container,
#shopDetail .swiper-container {
    height: 6.4rem;
    padding-bottom: 0;
    top: 2.2rem;
}
#shopList .wrapCatg {
    position: absolute;
    top: 8.6rem;
    width: 100%;
}
#shopList .content {
    top: 11.2rem;
}
#shopList .swiper-container .swiper-slide,
#shopDetail .swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;   
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#shopList  .swiper-slide a,
#shopDetail  .swiper-slide a {
    width: 100%;
}
#shopList  .swiper-slide img,
#shopDetail  .swiper-slide img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.shopLi {
    height: 6.6rem;
    padding: 1rem .8rem 1rem 5.5rem;
}
.shopLi del {
    line-height: 1.8;
}
.shopLi .wrapShopImg {
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: absolute;
    left: .75rem;
    top: 1.25rem;
}
.shopLi .wrapShopImg img {
    border-radius: 8px;
}
.shopLi .btnBuy {
    border-color: transparent;
    background-color: #f90;
    color: #fff;
    position: absolute;
    bottom: .3rem;
    right: 0;
}
/* 商城详情页*/
#shopDetail .content {
    bottom: 2.65rem;
    background-color: #eee !important;
}
.btnGoBuy:active {
    background-color: #f70;
}
#shopDetail .swiper-container {
    top: 0;
}
.wrapShopDetail section {
    background-color: #fff;
    padding: .5rem 0;
}
.wrapShopDetail section div {
    padding: 0 1rem;
}
/*数量加减样式*/
div, span, a, header {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
em {
    text-decoration: none;
    font-style: normal;
}
.quantity-wrapper {
    display: inline-block;
    height: 26px;
    border-radius: 5px;
    padding: 0 !important;
    float: left;
    line-height: 26px;
}
.quantity-decrease {
    -webkit-border-radius: 2px 0 0 2px;
}
.quantity-decrease, .quantity-increase {
    background: #fff;
    border: 1px solid #cbcbcb;
    color: #232326;
    display: block;
    height: 24px;
    line-height: 24px;
    width: 26px;
    overflow: hidden;
    text-indent: -200px;
    box-sizing: border-box;
}
.quantity-decrease em {
    background: url("/Public/images/product-detail-sprites-mjs.png") no-repeat;
    background-size: 100px 100px;
    background-position: -32px -85px;
    height: 12px;
    width: 12px;
    display: block;
    margin: 6px;
}
/*limited控制数量最小样式*/
.quantity-decrease.limited em {
    background-position: -45px -85px;
}
.quantity-increase.limited em {
    background-position: -45px -67px;
}
.quantity {
    color: #232326;
    border: solid #cbcbcb;
    border-width: 1px 0 1px 0;
    height: 24px;
    line-height: 24px;
    width: 34px;
    border-radius: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
}
.quantity-decrease, .quantity, .quantity-increase {
    float: left;
    font-size: 15px;
    text-align: center;
}
.quantity-increase em {
    background: url("/Public/images/product-detail-sprites-mjs.png?v=1") no-repeat;
    background-position: -32px -67px;
    background-size: 100px 100px;
    height: 12px;
    width: 12px;
    display: block;
    margin: 6px;
}