<!DOCTYPE html>
<html>
  <head>
    <title>萝卜兼职</title>
    <include file="Common/header"/>
    <!-- 模板-工作详情 -->
    <include file="Common/tpl/tpl-jobDetail" />
    <include file="Common/tpl/tpl-sendList" />
  </head>
  <body>
    <div class="page-group">
        <div class="page page-current" id="bizJobDetail">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back">
                    <span class="icon icon-left"></span>
                   返回
                </a>
                <h1 class='title'>兼职详情</h1>
            </header>
            <div class="content native-scroll" id="jobDetailScroll">
                <!-- 职位详情 -->
            </div>
        </div>
    </div>
    
    <include file="Common/footer"/> 
    <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/company-job-detail.js' charset='utf-8'></script>
    <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/company-user-sendList.js' charset='utf-8'></script>
     
  </body>

</html>