<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Task/tpl/tpl-header"/>
    </head>
    <body>
        <div class="page-group">
                <div class="page page-current" id="mine">
                    <header class="bar bar-nav">
                        <a class="button button-link button-nav pull-left back" href="__APP__/Home/Task/index">
                            <span class="icon icon-left"></span>返回
                        </a>
                        <h1 class='title'>我的兼职</h1>
                    </header>
                    <ul class="tab-4">
                        <li class="active" data-status="ALL">全部</li>
                        <li data-status="ON">进行中</li>
                        <li data-status="CHECK">审核中</li>
                        <li data-status="OFF">已结束</li>
                    </ul>
                    <div class="content bg_white">
                        <div class="list-block infinite-scroll" data-distance="100">
                            <ul class="task-list list-container">
                                <!--to be filled-->
                            </ul>
                            <!-- 加载提示符 -->
                            <div class="infinite-scroll-preloader">
                                <div class="preloader"></div>
                            </div>
                        </div>
                                          
                    </div>
                </div>
                <div class="panel-overlay"></div>
        </div>  
        <include file="Task/tpl/tpl-footer"/>    
    </body>
</html>