<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Task/tpl/tpl-header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="status">
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left back" href="">
                        <span class="icon icon-left"></span>返回
                    </a>
                    <h1 class='title'>提交成功</h1>
                </header>
                <div class="content bg_white">
                    <div class="wrap-status-img">
                        <img src="/Public/task/image/status_ok.png" alt="提交成功">
                        <p>提交成功，请耐心等待审核。</p>
                    </div>
                    <a class="btn-ok" href="__APP__/Home/Task/index" external>确定</a>
                </div>
            </div>
            <div class="panel-overlay"></div>
        </div>  
        <include file="Task/tpl/tpl-footer"/>
    </body>
</html>