<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Task/tpl/tpl-header"/>
    </head>
    <body>
        <div class="page-group">
                <div class="page page-current" id="wallet">
                    <header class="bar bar-nav">
                        <a class="button button-link button-nav pull-left back" href="__APP__/Home/Task/index">
                            <span class="icon icon-left"></span>返回
                        </a>
                        <h1 class='title'>我的收入</h1>
                    </header>
                    <div class="content infinite-scroll infinite-scroll-bottom bg_white" data-instance="100">
                        <div class="pos_rela wrap gapafter">
                            <div class="row no-gutter">
                                <div class="col-50 text-center pos_rela line_r bgOrg h_90 padd_10">
                                    <h5 class="fc_white f26 nmalfw" id="total_income">*</h5>
                                    <span class="f11 fc_white">累积收入(元)</span>
                                </div>
                                <div class="col-50 text-center bgOrg h_90 padd_10">
                                    <h5 class="fc_white f26 nmalfw" id="today_income">*</h5>
                                    <span class="f11 fc_white">今日收入(元)</span>
                                </div>
                            </div>
                            <div class="wallet-title">任务详情</div>
                            <div class="list-block">
                                <ul class="wallet-detail-list list-container">
                                    <!--to be filled-->
                                </ul>
                            </div>
                        </div>
                        <!-- 加载提示符 -->
                        <div class="infinite-scroll-preloader" style="display:none">
                            <div class="preloader"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-overlay"></div>
        </div>  
        <include file="Task/tpl/tpl-footer"/>
    </body>
</html>