<!DOCTYPE html>
<html>
  <head>
    
    <title>新首页</title>
    
    <include file="Common/header"/>

  </head>
  <body>
    <div class="page-group">
        <div class="page page-current" id="index">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left" href="#chooseCity" data-panel='#chooseCity'>
                    <span class="iconf iconf-location pos_i"></span>
                   威海
                </a>
                <h1 class='title'>萝卜兼职</h1>
                <a class="button button-link button-nav pull-right" href="#login">
                    <span class="iconf iconf-user02"></span>
                </a>
            </header>
            <div class="content native-scroll" id="indexScroll">
                <!-- 轮播图 -->
                <div class="swiper-container swiper-container-horizontal" data-space-between="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-active" style="width: 375px; margin-right: 10px;"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_640x640q60.jpg" alt="" style="width: 100%"></div>
                        <div class="swiper-slide swiper-slide-next" style="width: 375px; margin-right: 10px;"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_640x640q60.jpg" alt="" style="width: 100%"></div>
                        <div class="swiper-slide" style="width: 375px; margin-right: 10px;"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_640x640q60.jpg" alt="" style="width: 100%"></div>
                    </div>
                    <div class="swiper-pagination"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span>
                    </div>
                </div>
                <!-- 筛选条件，主标签 -->
                <div class="tabGroup pos_rela">
                    <div class="row no-gutter">
                        <div class="col-50 text-center pos_rela line_r" id="job_all">
                            <a class="f_left text-right" style="width: 55%;" href="__APP__/home/job/categories/type/1" external>热门兼职</a>
                            <span class="i_jobHot f_left marg_left_20"></span>
                        </div>
                        <div class="col-50 text-center" id="job_new">
                            <a class="f_left text-right" style="width: 55%;" href="__APP__/home/job/categories/type/0" external>最新兼职</a>
                            <span class="i_jobNew  f_left marg_left_20"></span>
                        </div>
                    </div>
                </div>
                <div class="wrapJob">
                    <ul class="jobList">
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">文本</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgGreen">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">服务员</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgOrg">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">其他</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgRed">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">文本</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgGreen">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">服务员</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgOrg">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">其他</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgRed">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">文本</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgGreen">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">服务员</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgOrg">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                        <li class="jobLi" iIndex="jobLi01">
                            <span class="iType">其他</span>
                            <div class="row no-gutter">
                                <div class="col-80 tx_ellips">
                                    PHP开发人员
                                </div>
                                <div class="col-20 text-center">
                                    <div class="bg_status bgRed">
                                        <i class="i_triangle"></i>
                                        报名中
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter">
                                <div class="col-66 fc_lightGray">
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-location"></span>
                                        <span class="marg_left_10 tx_ellips pos_ab">威海高区</span>
                                    </p>
                                    <p class="f12 pos_rela">
                                        <span class="iconf iconf-clock"></span>
                                        <span class="marg_left_10 pos_ab">2015.01.12</span>
                                    </p>
                                </div>
                                <div class="col-33 text-right">
                                    <strong class="f12">电话咨询</strong>
                                    <small class="fc_lightGray">元/天</small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-overlay"></div>
        <!-- index end, chooseCity page begin -->
        <div class="page panel-left panel-cover" id="chooseCity">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back toIndex" href="#index">
                    <span class="icon icon-left"></span>
                    返回
                </a>
                <h1 class="title">选择城市</h1>
            </header>
            <div class="content">               
                <div class="wrapUl native-scroll" id="wrapTabCity">
                    <ul>
                        <li class="padd-20 pos_rela">山东省</li>
                        <li class="padd-20 pos_rela">威海</li>
                        <li class="padd-20 pos_rela">青岛</li>
                        <li class="padd-20 pos_rela">潍坊</li>
                        <li class="padd-20 pos_rela">不限</li>
                        <li class="padd-20 pos_rela">威海</li>
                        <li class="padd-20 pos_rela">青岛</li>
                        <li class="padd-20 pos_rela">潍坊</li>
                        <li class="padd-20 pos_rela">不限</li>
                        <li class="padd-20 pos_rela">威海</li>
                        <li class="padd-20 pos_rela">青岛</li>
                        <li class="padd-20 pos_rela">潍坊</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- login page begin -->
        <div class="page panel-left panel-cover" id="login">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back toIndex" href="#index">
                    <span class="icon icon-left"></span>
                    返回
                </a>
                <h1 class="title">先登录</h1>
            </header>
            <div class="content">
                <p><a href="#index" class="close-panel">关闭</a></p>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    
    <!-- <script type='text/javascript' src='__PUBLIC__/scripts/main.js' charset='utf-8'></script> -->
  </body>
 <script>
    $(function() {
        // var Zepto = jQuery;
        $.config = {
            autoInit : true
        }
        var bannerLgt = 3;
        $(".swiper-container").swiper({
            pagination: (bannerLgt<= 1)?'':'.swiper-pagination',
            paginationClickable: true,
            spaceBetween: 0,
            centeredSlides: true,
            loop: (bannerLgt<= 1)?false:true,
            autoplay: 3000,
            autoplayDisableOnInteraction: false
        });
        // 随机生成兼职列表的图标颜色
        setColor();
        function setColor() {
            var colors = ["#E4007F", "#00A0E9", "#F39800", "#996C33","#a71a35","#258795"];
            $(".iType").each(function () {
                var index = Math.floor(Math.random() * colors.length);
                setColor = colors[index];
                $(this).attr("style", "border:1px solid " + setColor + ";color:" + setColor);
            })
        }
    });
        
</script>
 <script>     

</script>
</html>