<!DOCTYPE html>
<html>
  <head>

    <title>萝卜兼职</title>
    
    <include file="Common/header"/>

  </head>
  <body>
    <div class="page-group">
        <div class="page page-current" id="recharge">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left" href="#index" data-panel='#'>
                    <span class="icon icon-left"></span>
                   返回
                </a>
                <h1 class='title'>充值</h1>
            </header>
            <div class="buttons-tab fixed-tab" data-offset="44" style="padding: .5rem 0;">
                <div id="s1" data-status="1" class="tab-link button line_r text-right" style="width: 30%; height: 1.8rem; line-height: 1.8rem;">充值金额</div>
                <input type="text" name=""  value="" placeholder="请输入金额" class="" style="outline: none;-webkit-appearance:none; border: 0 none; -webkit-appearance: none; padding: 10px .5rem; height: 1.8rem;" />
            </div>
            <div class="resetConBlock">
                <div class="content-block">
                    <div class="tabs">
                        <div id="tab_content" class="tab active">
                            <div class="content-block content infinite-scroll infinite-scroll-bottom"  data-distance="10" style="top: 100px;">
                                <div class="payType">
                                    选择支付方式
                                </div>
                                <div class="wrapJob">
                                    <div class="f14 pos_rela line_b payTypeLi" style=" padding: .85rem;">
                                        <img src="/Public/images/i_wx.png" >
                                        <span>微信支付</span>
                                        <input type="radio" name=""  value="" checked="" />
                                    </div>
                                    
                                    <div class="content-block" style="margin-top: 2rem; padding: .85rem;">
                                        <div class="row">
                                            <div class="col-100">
                                                <a id="" href="#" class="button button-big button_orange">确认充值</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
 <script>
    $(function() {
        // var Zepto = jQuery;
        $.config = {
            autoInit : true
        }

        // $(".swiper-container").swiper(config);//以上代码均未调通

        $(".swiper-container").swiper();

        // 随机生成兼职列表的图标颜色
        // setColor();
        // function setColor() {
        //     var colors = ["#E4007F", "#00A0E9", "#F39800", "#996C33","#a71a35","#258795"];
        //     $(".iType").each(function () {
        //         var index = Math.floor(Math.random() * colors.length);
        //         setColor = colors[index];
        //         $(this).attr("style", "border:1px solid " + setColor + ";color:" + setColor);
        //     })
        // }
    });
        
</script>
 <script>       
    // $(function () {
    //     $.init();
    // });
    // $(document).on("click", ".chooseCity", function() {
    //     $.openPanel("#chooseCity");
    // });
    // $(document).on("click", ".toIndex", function() {
    //     $.closePanel("#index");
    // });
</script>
</html>