<!DOCTYPE html>
<html>
    <head>
        
        <title>萝卜兼职</title>

        <include file="Common/header"/>
        
    </head>
    <body>
        <div class="page" style="display: block;">
            <!--头部-->
            <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="#" data-panel="#">
                <span class="icon icon-left"></span>
               返回
            </a>
                <h1 class="title">发布兼职</h1>
            </header>
            <div class="content wrapPerfectInfo" id="">
                <!-- <div>
                    <img src="/Public/images/bg_sign.jpg" alt="头部背景图片" class="img-responsive">
                </div>  -->  
                <form action="" method="post" class="form_perfectInfo">
                    <div class="content-block f14 wrapRegCont list-block">
                        
                        <div class="row no-gutter  item-content">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    公司名称
                                </div>
                                <div class="col-75 item-input">
                                    <input  id="" class="form-control gttv" type="text" name="" placeholder="请输入公司名称" />
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter  item-content">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    兼职名称
                                </div>
                                <div class="col-75 item-input">
                                    <input  id="" class="form-control gttv" type="text" name="" placeholder="请输入兼职名称" />
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter  item-content item-link">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    兼职类型
                                </div>
                                <div class="col-75 item-input">
                                    <div class="f_left pos_rela selectSchool item-input">
                                        <select class="tx_ellips tx_indent">
                                            <option value="点击选择学校">点击选择类型</option>
                                            <option value="山东省">山东省</option>
                                            <option value="山东省">山东省</option>
                                            <option value="山东省">山东省</option>
                                            <option value="山东省">山东省</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter  item-content">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    招聘人数
                                </div>
                                <div class="col-75 item-input">
                                    <input  id="" class="form-control gttv" type="text" name="" placeholder="输入有效数字" />
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter item-content">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    工资待遇
                                </div>
                                <div class="col-75">
                                    <div class="col-50 f_left selectProvince pos_rela item-input">
                                        <input  id="" class="form-control gttv" type="text" name="" placeholder="输入有效数字" />
                                        <span class="icon icon-right pos_arr"></span>
                                    </div>
                                    <div class="col-50 f_right selectCity pos_rela item-input">
                                        <select class="tx_indent">
                                            <option value="元/天">元/时</option>
                                            <option value="元/天" selected="selected">元/天</option>
                                            <option value="元/天">元/天</option>
                                            <option value="元/天">元/天</option>
                                            <option value="元/天">元/天</option>
                                        </select>
                                        <span class="icon icon-right pos_arr" style="right: -.45rem;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter item-content">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    工作地点
                                </div>
                                <div class="col-75">
                                    <div class="col-50 f_left selectProvince pos_rela item-input">
                                        <select class="tx_indent">
                                            <option value="点击选择省">点击选择省</option>
                                            <option value="山东省">山东省</option>
                                            <option value="山东省">山东省</option>
                                            <option value="山东省">山东省</option>
                                            <option value="山东省">山东省</option>
                                        </select>
                                        <span class="icon icon-right pos_arr"></span>
                                    </div>
                                    <div class="col-50 f_right selectCity pos_rela item-input">
                                        <select class="tx_indent">
                                            <option value="威海市">威海市</option>
                                            <option value="青岛市" selected="selected">青岛市</option>
                                            <option value="威海市">威海市</option>
                                            <option value="威海市">威海市</option>
                                            <option value="威海市">威海市</option>
                                        </select>
                                        <span class="icon icon-right pos_arr" style="right: -.45rem;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter  item-content">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    详细地址
                                </div>
                                <div class="col-75 item-input">
                                    <input  id="" class="form-control gttv" type="text" name="" placeholder="请输入详细地址" />
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter  item-content item-link">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    工作日期
                                </div>
                                <div class="col-75 item-input">
                                    <div class="col-50 f_left selectProvince pos_rela item-input">
                                        <input class="form-control gttv"  id="addJob-startDate" name="beginTime"/>
                                        <span class="icon icon-right pos_arr"></span>
                                    </div>
                                    <div class="col-50 f_right selectCity pos_rela item-input">
                                        <input class="form-control gttv" id="addJob-endDate" name="endTime"/> 
                                        <span class="icon icon-right pos_arr" style="right: -.45rem;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter  item-content item-link">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    工作时段
                                </div>
                                <div class="col-75 item-input">
                                    <div class="f_left pos_rela selectSchool item-input">
                                        <select class="tx_ellips tx_indent">
                                            <option value="请选择工作时段">请选择工作时段</option>
                                            <option value="10:00~12:00">10:00~12:00</option>
                                            <option value="10:00~12:00">10:00~12:00</option>
                                            <option value="10:00~12:00">10:00~12:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter  item-content">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    联系人
                                </div>
                                <div class="col-75 item-input">
                                    <input  id="" class="form-control gttv" type="text" name="" placeholder="请输入联系人名字" />
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter  item-content">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    联系电话
                                </div>
                                <div class="col-75 item-input">
                                    <input  id="" class="form-control gttv" type="text" name="" placeholder="请输入联系电话" />
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter  item-content">
                            <div class="item-inner">
                                <div class="col-25 text-left item-title pos_rela line_r">
                                    职位描述
                                </div>
                                <div class="col-75 item-input wrapTagTextArea">
                                    <textarea  id="" class="form-control gttv" type="textarea" name="" placeholder="请输入职位描述" ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="content-block">
                    <div class="row">
                        <div class="col-100">
                            <a id="" href="#" class="button button-big button_orange">发布</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script type="text/javascript" src="/Public/scripts/webuploader.custom.js" charset="utf-8"></script>
    </body>
</html>

<script>

    $(document).ready(function () {
        var uploader = WebUploader.create({
            auto : true,
            duplicate:true,
            server : APP_PATH + '/Home/User/uploadUserPhoto',
            formData : {
                                
            },
            accept : {
                title : 'Images',
                extensions : 'jpg,jpeg,gif,png',
                mimeTypes : 'image/*'
            },
            compress:{
                width: 500,
                height: 500,
                quality: 90,
                allowMagnify: true,
                crop: true,
                preserveHeaders: true,
                noCompressIfLarger: false,
                compressSize: 0
            }
        });
        console.log(uploader);
        uploader.addButton({
             id:'#wrapBtnForUp',
             innerHTML:'上传'
        });
        uploader.on('uploadSuccess',function(file,response){
            $.toast(response.msg, 1000, "toast_orange");
            if(response.code == 1){
                $('.showZImg').attr('src',response.data.url);
            }
        });
    
        

    });

</script>