<!DOCTYPE html>
<html>
    <head>       
        <title>萝卜兼职</title>      
        <include file="Common/header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page" id="setPwd">
                <!--头部-->
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left back" href="__APP__/Company/Wallet/myWallet">
                        <span class="icon icon-left"></span>
                        返回
                    </a>
                    <h1 class="title">设置支付密码</h1>
                </header>
                <div class="content wrapSetPwd" id="wrapSetPwd">
                    <div class="content-block f14 wrapRegCont">
                        <div class="row no-gutter line_b">
                            <div class="col-25 text-left">
                                支付密码
                            </div>
                            <div class="col-75 line_l">
                                <input id="password" class="form-control gttv" type="password" name="password" placeholder="请输入6位纯数字支付密码" />
                            </div>
                        </div>
                        <div class="row no-gutter line_b">
                            <div class="col-25 text-left">
                                确认密码
                            </div>
                            <div class="col-75 line_l">
                                <input id="confirm" class="form-control gttv" type="password" name="password" placeholder="请输入6位纯数字支付密码" />
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="row">
                            <div class="col-100">
                                <a id="ok" href="javascript:;" class="button button-big button_orange">确定</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Common/tpl/tpl-wallet" />
        <include file="Common/tpl/tpl-jobDetail" />
        <include file="Common/footer" />
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/company-wallet-bundle.js' charset='utf-8'></script>
    </body>
</html>
