@charset "utf-8"; 

body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ul, ol, li,pre, fieldset, lengend, button, input, textarea, th, td,div,a,span,b,u,i,strong,s,label,code,form,legend,figure,section {
	margin: 0;
	padding: 0;
}

body, button, input, select, textarea {
	font-size:14px;color:#333;font-family: "微软雅黑", "Microsoft Yahei", Tahoma, Geneva, sans-serif;
}

body{background-color: #efeff0;}

ul, ol {
	list-style: none;
}

fieldset, img {
	border: none;
}

img{display:block;vertical-align:middle;}

a {
	text-decoration: none;
	color:#333;
}

a:hover{color:#333;}

h1,h2,h3,h4,h5,h6{font-size:100%;}

input,textarea,select{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%;
}
a,input,textarea,select,label{
	-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}

input{border:0;outline:none;vertical-align:bottom;}
input[type="text"],input[type="button"],input[type="password"]{-webkit-appearance:none;}

s{text-decoration: none;}
u{text-decoration:none;}
i{font-style:normal;}
b,strong{font-weight:normal;}

button, input, select, textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	overflow-y: scroll;
}

@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot'); /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}



