<!DOCTYPE html>
<html>
<head>
    
    <title>萝卜兼职</title>
    <include file="Common/import"/>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.css">
    <!-- 暂时引入的未压缩版 -->
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <!-- <link rel="stylesheet" href="__PUBLIC__/styles/main.css">
    <link rel="stylesheet" href="__PUBLIC__/styles/sign.css"> -->
    <include file="Common/header"/>
</head>
<body>
<div class="page" style="display: block;" id="agreement">
    <!--头部-->
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left" href="__APP__/Company/index/signUp" data-panel="#">
            <span class="icon icon-left"></span>
         返回
        </a>
        <h1 class="title">萝卜兼职协议条款</h1>
    </header>
    <div class="content">
        <div class="wrapAgreeMent line_h15 padd_10">
          用户服务基本条款<br />
          &nbsp;&nbsp;&nbsp;&nbsp;1. 萝卜兼职所提供的各项服务的所有权和经营权归威海捷城信息科技有限公司,与软件下载平台无关。
          萝卜兼职仅提供兼职信息及其它与此相关联之服务。求职者、招聘单位行为必须接受以下所列条款制约，如若不接受该协议，则不能成为萝卜兼职用户，接受本声明之条款，表明你将遵守本协议之规定。该协议一经接受立即生效。萝卜兼职保留更新本协议，之后再通知客户的权力。如果您对萝卜兼职声明有关本协议的任何更改都是不可接受的，您享有的相关资格与服务即被取消；否则萝卜兼职将默认您的行为构成对本协议更改的接受。
          <br />&nbsp;&nbsp;&nbsp;&nbsp;2. 用户(求职人员)求职者必须同意使用萝卜兼职仅用于合法的目的，也就是说，仅用于求职。已注册求职者可以把个人简历通过本应用软件或直接发送给在本软件已注册的公司。在此种情况下，求职者个人简历仍然储存在萝卜兼职数据库中，但萝卜兼职不承诺求职者个人简历长期储存在萝卜兼职数据库中。萝卜兼职保留对求职者个人简历进行修改或修改任何不适信息的权力。未经求职者的许可，萝卜兼职不会把求职人员的个人简历转发给任何未经注册的潜在雇主，但通过使用本网站搜索引擎及其他方式的第三方用户有权查询到求职者的简要资料。求职者必须独自全部承担由于向注册公司或其他用户发送个人资料所形成的一切风险。萝卜兼职对于任何公司（不管它是否在中国境内）与求职者之间产生的经济纠纷，有权介入处理，维护求职者的个人权益。<br />
          一、 服务内容<br />
          &nbsp;&nbsp;&nbsp;&nbsp;1.1 "萝卜兼职"在开通的城市，通过人工，技术和合作，每天聚合此城市"网络招聘"按照用户的订阅条件自动推送到用户手机中。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;1.2 网络服务的具体内容由"萝卜兼职"根据实际情况提供，例如职位查看等。"萝卜兼职"保留随时变更、中断或终止部分或全部网络服务的权利。萝卜兼职行使修改或中断服务的权利，不需对用户或第三方负责。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;1.3 "萝卜兼职"在提供网络服务时，承诺不收取用户任何费用，如若有相关费用产生，萝卜兼职会提前与其联系。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;1.4 用户理解，"萝卜兼职"仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如手机、调制解调器及其他与接入互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费）均应由用户自行负担。<br />
          二、 使用规则<br />
          &nbsp;&nbsp;&nbsp;&nbsp;2.1 用户在申请使用"萝卜兼职"网络服务时，必须向"萝卜兼职"提供准确的个人资料，如个人资料有任何变动，必须及时更新。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;2.2 用户注册成功后，"萝卜兼职"将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管；用户应当对以其用户帐号进行的所有活动和事件负法律责任。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;2.3 用户必须同意接受"萝卜兼职"通过电子邮件或其他方式向用户发送的职位招聘信息或其他相关企业信息。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;2.4 用户在使用"萝卜兼职"网络服务过程中，必须遵循以下原则：<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(a) 遵守中国有关的法律和法规；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(b) 不得为任何非法目的而使用网络服务系统；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(c) 遵守所有与网络服务有关的网络协议、规定和程序；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(d) 不得利用"萝卜兼职"网络服务系统进行任何可能对互联网的正常运转造成不利影响的行为；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(e) 不得利用"萝卜兼职"网络服务系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(f) 不得利用"萝卜兼职"网络服务系统进行任何不利于"萝卜兼职"的行为；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(g) 如发现任何非法使用用户帐号或帐号出现安全漏洞的情况，应立即通知"萝卜兼职"。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(h) 求职者必须同意使用萝卜兼职仅用于合法的目的，也就是说，仅用于求职。已注册求职者可以把个人简历通过本应用软件发送给在本应用软件已注册的公司。在此种情况下，求职者个人简历仍然储存在萝卜兼职数据库中。萝卜兼职保留对求职者个人简历进行修改或修改任何不适信息的权力。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;2.5 企业用户承诺兼职人员薪资的及时性（任务完成后，日结薪资最迟不超过次日发放，周结薪资最迟不超过三个工作日发放，月结薪资最迟不超过五个工作日发放），并承诺不克扣，不拖延，按时发放，如若违约，"萝卜兼职"有权对企业用户提出声讨，声讨无效"萝卜兼职"会根据相关法律提起诉讼并终止协议。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;2.6 企业用户如需"萝卜兼职"平台代付薪资，"萝卜兼职"承诺薪资在任务完成后的五个工作日内发放至兼职用户的平台账户，用户自行体现。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;2.7 企业用户如需"萝卜兼职"平台代付薪资，企业用户需在约定时间内与"萝卜兼职"进行结算，并承诺不拖延、不违约。<br />
          三、 版权声明<br />
          &nbsp;&nbsp;&nbsp;&nbsp;3.1 "萝卜兼职"提供的网络服务内容可能包括：文字、软件、声音、图片、录像、图表等。所有这些内容受版权、商标和其它财产所有权法律的保护。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;3.2 用户只有在获得"萝卜兼职"或其他相关权利人的授权之后才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;3.3 转载必须征得萝卜兼职或相关权利人的书面特别授权，注明作者及文章出处"萝卜兼职"；凡作者或权利人声明不得转载的文章，任何单位及个人不得转载。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;3.4 未经萝卜兼职授权，任何人不得建立本应用软件的镜像。<br />
          四、 隐私保护<br />
          &nbsp;&nbsp;&nbsp;&nbsp;4.1 保护用户隐私是"萝卜兼职"的一项基本政策"萝卜兼职"保证不对外公开或向第三方提供用户注册资料及用户在使用网络服务时存储在"萝卜兼职"的非公开内容，但下列情况除外且不承担任何法律责任：
          事先获得用户的明确授权；
          根据有关的法律法规要求；
          按照相关政府主管部门的要求；
          为维护社会公众的利益；
          为维护"萝卜兼职"的合法权益。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;4.2 注册个人信息的用户同意本应用软件对注册信息进行善意利用。本应用软件所提供的服务会自动收集有关访问者的信息，这些信息包括访问者人数、访问时间、访问页面等，本应用软件将使用这些信息来对我们的服务器进行分析和对应用软件进行管理。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;4.3 共同维护用户名及密码的安全。用户一旦注册成功，将得到唯一的用户名和密码。用户须妥善保管您的用户名和密码，不得告诉他人，否则因此产生的风险和损失由用户自行承担。用户要对以用户名进行的所有活动和事件负全部责任。用户可随时根据需要更改您的密码。用户若发现任何非法使用自己的用户名的情况，请立即通告本应用中心。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;4.4 本应用软件包含到其他站点的招聘信息，我们对于这些站点的招聘职位真实性、准确性和隐私条款等不负任何责任，但是接到有异常信息举报，我们会及时删除。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;4.5 任何时候如果您认为我们违背了上述原则，请发送电子邮件通知我们，我们将尽一切努力，在合理适当的范围内立即加以解决。<br />
          五、 信息的发布<br />
          &nbsp;&nbsp;&nbsp;&nbsp;5.1 任何用户不得使用萝卜兼职发送或储存任何违反适用法律或法规的资料；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;5.2 不得以任何形式侵犯他人的版权、商标权、商业秘密或其他知识产权；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;5.3 不得侵犯个人和社会大众的隐私安全；禁止传输任何非法的、骚扰性的、中伤性的、辱骂性的、恐吓性的、伤害性、庸俗或淫秽的信息。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;5.4 任何用户不得发布任何与本软件求职、招聘目的不适之信息；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;5.5 任何用户不得发布任何不完整、不准确、虚假的或具有误导性的信息；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;5.6 任何用户对所发布的信息承担完全责任。<br />
          六、信息的使用<br />
          &nbsp;&nbsp;&nbsp;&nbsp;6.1 任何用户仅可就求职目的使用招聘者之招聘信息，不得用于任何其他用途，任何用户必须保证不用于下列任何一种用途：<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(a) 供萝卜兼职的竞争同行用此方法寻求与招聘单位的业务联络或进行与萝卜兼职相竞争的其他活动。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(b) 擅自删除或修改任何其他人或萝卜兼职公布的资料。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(c) 擅自将取自"萝卜兼职"（即萝卜兼职软件）的资料转给第三方使用或向第三方透露。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;6.2 任何用户若购买萝卜兼职简历库搜索服务，即有权进入萝卜兼职数据库进行限量的简历查询，但不得利用此项权利进行查询人才以外的其他用途。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;6.3 任何用户若购买萝卜兼职简历库搜索服务、信息发布服务，表明用户接受我方服务，非我方原因，我方不退回任何服务费用。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;6.4 萝卜兼职提供的其它信息，仅应限于与其相应内容有关的目的而被使用；任何用户不得将任何本软件的信息用作任何商业目的。<br />
          七、信息的公开<br />
          &nbsp;&nbsp;&nbsp;&nbsp;7.1 萝卜兼职不公开任何用户不愿意公开的信息,除非:<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(a) 用户授权萝卜兼职透露这些信息；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(b) 相应的法律要求及程序要求萝卜兼职提供用户的资料；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(c) 该信息系用户已发布的信息；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(d) 该信息系为已进入公共领域的信息。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;7.2 萝卜兼职绝对尊重用户，不擅自编辑或修改用户的登记内容，除非有法律要求及公安管理规定；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;7.3 萝卜兼职保留判定用户的行为是否符合本协议的权利，如果萝卜兼职认为用户违背了本协议，应事先通知用户停止违反本协议的行为。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;7.4 所有发给用户的通告都可通过电子邮件或软件公告传送，且在传送后壹日内视为送达。服务条款的修改、服务变更、或其它重要事项都会以此形式进行。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;7.5 在萝卜兼职软件所公开的任何信息，均有可能被任何本软件的访问者浏览，也可能被错误使用。用户承认，任何第三方错误使用信息的行为及其责任，均与萝卜兼职无涉而应由该第三方承担。<br />
          八、信息的准确性<br />
          &nbsp;&nbsp;&nbsp;&nbsp;8.1 用户须独自对登记在萝卜兼职上及其他链接页面上的内容正确性负责。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;8.2 萝卜兼职将不能保证所有由第三方提供的信息，或萝卜兼职自行采集的信息完全准确。用户了解，对这些信息的使用，需要经过进一步核实。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;8.3 萝卜兼职对访问者未经自行核实误用萝卜兼职信息造成的任何损失不予承担任何责任。企业用户须独自对登记在萝卜兼职上及其他链接页面上的内容正确性负责。<br />
          九、信息的安全性<br />
          &nbsp;&nbsp;&nbsp;&nbsp;用户不得破坏或企图破坏萝卜兼职或软件的安全规则，其中包括但不限于:<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(a) 接触未经许可的数据或进入未经许可的服务器或帐户；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(b) 没有得到许可，企图探查，扫描或测试系统或网络的弱点，或者破坏安全措施；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(c) 企图干涉对用户及网络的服务，包括，并不限于，通过超载， "邮件炸弹"或"摧毁"等手段；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(d) 发送促销，产品广告及服务的E-mail。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(e) 伪造TCP/IP数据包名称或部分名称。破坏系统或网络可能导致犯罪。<br />萝卜兼职将调查、干预此类破坏行为的发生，并将与执法当局合作，起诉此类破坏行为的使用者。<br />
          十、 信息更改与删除<br />
          &nbsp;&nbsp;&nbsp;&nbsp;10.1 除了信息的发布者外，任何访问者不得更改或删除他人发布的任何信息。但萝卜兼职有权根据其判断保留修改或删除任何不适信息。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;10.2 除外尽管本协议约定了有关信息保密的条款，用户理解并同意，萝卜兼职在不公开姓名的情况下，可以为用户应聘或招聘的目的向第三方提供综合性的资料。<br />
          十一、 风险分担<br />
          &nbsp;&nbsp;&nbsp;&nbsp;11.1 用户理解并同意，萝卜兼职在本合同项下的义务是为用户提供发布招聘或应聘信息，或获取由他人登记的招聘或应聘信息的互联网软件平台服务，而非提供信息本身，因此任何用户使用本系统将可能承担以下风险：本系统的信息按"信息提供当时之现状"提供，萝卜兼职对信息不作任何明示的或暗示的保证。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;11.2 萝卜兼职不能保证信息的特殊目的不受阻挠或不出错误、不能保证错误一定能得到纠正，也不能保证本系统或制成本系统的信息不会含有病毒或其他有害成分。在涉及有关信息的使用或使用结果方面，萝卜兼职对信息的正确性、准确性、可靠性及其他同时不作出任何保证或说明。用户(而不是萝卜兼职)将承担因此而造成的一切必要的服务、修补和改正费用，除非现行的法律法规另有明文规定。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;11.3 用户应当独自承担由于登录萝卜兼职或通过萝卜兼职获取到其他站点招聘信息而形成的全部风险。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;11.4 用户理解并同意其私下与他人交流信息及发送招聘或应聘意向或建立劳动或劳务关系所造成的后果与萝卜兼职无关，用户应自行承担上述行为所造成的后果。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;11.5 如萝卜兼职受到第三方的任何索赔、权利主张或处罚，用户应为萝卜兼职辩护并使萝卜兼职免于任何经济或商誉损失，如用户怠于履行该义务，萝卜兼职有权自行采取辩护措施（包括但不限于聘请律师），由此所发生的一切费用及损失，应由用户向萝卜兼职作出补偿。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;11.6 赔偿用户须承诺保障和维护萝卜兼职的利益；承诺赔偿由于其违反本协议或使用本应用而造成的对上述人员萝卜兼职的损害。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;11.7 萝卜兼职须承诺为用户提供本协议所规定的服务，承诺赔偿由于萝卜兼职违反本协议而对用户造成的损失。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;11.8 由于INTERNET发展的现状，有时线路速度会降低；有时因为网络调整会造成短时的线路中断，用户认同这些属正常情况。但中断时间以每月累计不超过（含）4小时为限（不可抗力除外）。<br />
          十二、责任<br />
          &nbsp;&nbsp;&nbsp;&nbsp;12.1 萝卜兼职并无随时监视此系统，但保留对其实施实时监视的权利。对于他方输入的，不是萝卜兼职发布的材料，萝卜兼职概不负任何法律责任。用户对其在职位数据库公布的材料独立承担一切法律责任。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;12.2 萝卜兼职不保证对某一种职位描述会有一定数目的使用者来浏览，也不保证会有一位特定的使用者来浏览。对于其他网址链接在本网址的内容，萝卜兼职概不负法律责任。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;12.3 萝卜兼职不承诺软件能够长期无错误运营；不保证其服务器免受病毒或其他机械故障的侵扰。如果任何用户在使用萝卜兼职软件时造成需要维修、更换设备或丢失数据的情况，本软件对这些损失不承担任何责任。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;12.4 萝卜兼职因正常的系统维护、系统升级，或者因网络拥塞而导致软件不能访问，萝卜兼职不承担任何责任。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;12.5 在任何情况下，萝卜兼职及其领导人、主管、雇员和代理商拒绝对由于用户使用本软件及其内容或不能使用本软件而造成的一切损失提供任何担保。<br />
          十三、合作事项<br />
          &nbsp;&nbsp;&nbsp;&nbsp;13.1 "萝卜兼职"可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与"萝卜兼职"同等的保护用户隐私的责任，则"萝卜兼职"可将用户的注册资料等提供给该第三方。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;13.2 在不透露单个用户隐私资料的前提下，"萝卜兼职"有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。<br />
          十四、免责声明<br />
          &nbsp;&nbsp;&nbsp;&nbsp;14.1 用户明确同意其使用"萝卜兼职"网络服务所存在的风险将完全由其自己承担；因其使用"萝卜兼职"网络服务而产生的一切后果也由其自己承担，"萝卜兼职"对用户不承担任何责任。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;14.2 "萝卜兼职"不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。<br />
          十五、服务变更、中断或终止<br />
          &nbsp;&nbsp;&nbsp;&nbsp;15.1 如因系统维护或升级的需要而需暂停网络服务，"萝卜兼职"将尽可能事先进行通告。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;15.2 如发生下列任何一种情形，"萝卜兼职"有权随时中断或终止向用户提供本协议项下的网络服务而无需通知用户：<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(a) 用户提供的个人资料不真实；<br />
          &nbsp;&nbsp;&nbsp;&nbsp;(b) 用户违反本协议中规定的使用规则。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;15.3 除前款所述情形外，"萝卜兼职"同时保留在不事先通知用户的情况下随时中断或终止部分或全部网络服务的权利，对于所有服务的中断或终止而造成的任何损失，"萝卜兼职"无需对用户或任何第三方承担任何责任。<br />
          十六、违约赔偿<br />
          &nbsp;&nbsp;&nbsp;&nbsp;用户同意保障和维护"萝卜兼职"及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给"萝卜兼职"或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。<br />
          十七、修改协议<br />
          &nbsp;&nbsp;&nbsp;&nbsp;17.1"萝卜兼职"将可能不时的修改本协议的有关条款，一旦条款内容发生变动，"萝卜兼职"将会在相关的页面提示修改内容。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;17.2 如果不同意"萝卜兼职"对服务条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受服务条款的变动。<br />
          十八、法律管辖<br />
          &nbsp;&nbsp;&nbsp;&nbsp;18.1 本协议的订立、执行和解释及争议的解决均应适用中国法律。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;18.2 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向"萝卜兼职"所在地的人民法院提起诉讼。<br />
          十九、通知和送达<br />
          &nbsp;&nbsp;&nbsp;&nbsp;本协议项下所有的通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。<br />
          二十、 其他规定<br />
          &nbsp;&nbsp;&nbsp;&nbsp;20.1 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;20.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;20.3 本协议中的标题仅为方便而设，在解释本协议时应被忽略。<br />
          &nbsp;&nbsp;&nbsp;&nbsp;20.4 本协议服从中华人民共和国法律解释；用户与萝卜兼职双方都必须遵守中华人民共和国的司法管辖。如发生本协议相关条款与中华人民共和国法律相抵触时，则该条款将按相关法律重新解释，而其他条款则依旧保持对用户产生法律效力和影响。
        </div>
    </div>
</div>
</body>
</html>