<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
	<div class="page" id="signUp">
	    <header class="bar bar-nav">
            <h1 class="title">企业注册</h1>
        </header>
        <div class="content">
            <div>
                <img src="/Public/images/bg_sign.jpg" alt="萝卜头像" class="img-responsive">
            </div>   
            <form action="__MODULE__/Mobile/doNewReg" method="post" id="form-reg">
                <div class="content-block f14 wrapRegCont">
                    <div class="row no-gutter line_b">
                        <div class="col-25 text-left">
                            手机号
                        </div>
                        <div class="col-75 line_l">
                            <input class="form-control gttv" type="text" name="phone" placeholder="请输入11位手机号码" />
                        </div>
                    </div>
                    <div class="row no-gutter line_b">
                        <div class="col-25 text-left">
                            验证码
                        </div>
                        <div class="col-40 line_l">
                            <input class="form-control gttv" type="text" name="captcha" placeholder="请输入6位验证码" />
                        </div>
                        <div class="col-33 f_right">
                            <button class="btn btn-block gtbtn" type="button" id="getCaptcha" style="color:#fff;">
                                获取验证码
                            </button>
                        </div>
                    </div>
                    <div class="row no-gutter line_b" style="display: none;">
                        <div class="col-25 text-left">
                            图形验证码
                        </div>
                        <div class="col-40 line_l">
                            <input class="form-control gttv" type="text" name="verifyCode" placeholder="请输入6位验证码" />
                        </div>
                        <div class="col-33 f_right text-right tuCode">
                            <img src="__CONTROLLER__/getThinkCode"  border="1" style="cursor: pointer;" title="看不清？点击更换另一个验证码。"/>
                        </div>
                    </div>
                    <div class="row no-gutter line_b">
                        <div class="col-25 text-left">
                            设置密码
                        </div>
                        <div class="col-75 line_l">
                            <input class="form-control gttv" type="password" name="password" maxlength="16" placeholder="请输入6位以上非纯数字密码" />
                        </div>
                    </div>
                    <div class="row no-gutter marg_top_10">
                        <input type="checkbox" name="agree"  value="checked" checked="checked" class="input_apper " />我已阅读<a href="agreement" class="fcBlue">《萝卜兼职协议条款》</a>
                    </div>
                </div>
            </form>
            <div class="content-block">
                <div class="row">
                    <div class="col-100">
                        <a id="doNewReg" href="#" class="button button-big button_orange bg_reg">注&nbsp;&nbsp;册</a>
                    </div>
                </div>
            </div>
        </div>
	    <div class="tip_info text-center" style="display: none;"></div>
	</div>
    <include file="Common/footer"/>
    <script>
        $(function () {
            
            var time=60;
            var intervalId;
            
            function getCaptcha() {
                var phone = $("input[name='phone']").val();
                var verifyCode = $("input[name='verifyCode']").val();
               
                // 验证手机号
                var reg = /^0?1[3|4|5|8|7][0-9]\d{8}$/;
                if (!reg.test(phone)) {
                    $.toast("手机号码格式不正确啦!", 1000);
                    return;
                } 

                // 获取手机验证码
                $.ajax({
                    type: 'POST',
                    url: '__MODULE__/Tools/getCaptcha',
                    data: { phone : phone, verifyCode : verifyCode },
                    dataType: 'json',
                    timeout: 3000,
                    success: function(data){
                        if(!data.code) {  // 执行成功的逻辑
                            $.toast(data.msg);
                            return false;
                        } else {
                            $("input[name='phone']").attr("readonly", "readonly");
                            $("#getCaptcha").attr("disabled", "disabled");
                            $("#getCaptcha").css({"background": "gray"}); 
                            intervalId = setInterval(refreshGetCaptcha, 1000); 
                        }
                    },
                    error: function(xhr, type){
                        server_error();
                        location.reload();   
                    }
                });
            }

            function refreshGetCaptcha() {
                var btnCaptcha = $("#getCaptcha");
                btnCaptcha.html(time+ '秒后重发');

                time--;
                if(time<0) {

                    clearInterval(intervalId);
                    $("input[name='phonecaptcha']").removeAttr("readonly");

                    btnCaptcha.removeAttr("disabled", "disabled");
                    btnCaptcha.css({"background": "#F3994F"});

                    btnCaptcha.html("获取验证码");
                    time = 0;
                }
            }
        
            // 获取验证码
            $('#getCaptcha').on('click', '', function (event) {
                event.preventDefault();
                getCaptcha();
            });
            
            // 点击注册
            $('#doNewReg').on('click', '', function (event) {
                event.preventDefault();
                // 客户端验证
                var reg = /^0?1[3|4|5|8|7][0-9]\d{8}$/;
                if (!reg.test($("input[name='phone']").val())) {
                    $.toast("手机号码格式不正确啦!", 1000, "toast_orange");
                    return false;
                } 

                if ($("input[name='captcha']").val().length != 6) {
                    $.toast("验证码格式不正确啦!", 1000, "toast_orange");
                    return false;
                } 
                var text =$("input[name='password']").val();
                if (!isPasswprd(text)) {
                    $.toast("密码必须为6位以上的数字加字母组合!", 1000, "toast_orange");
                    return false;
                } 

                if(!$("input[name='agree']").prop("checked")) {
                    $.toast("(^_^) 请先同意萝卜兼职协议条款！", 1000, "toast_orange");
                    return false;
                }
              
                // 服务器端验证
                params=$("#form-reg").serialize();
                console.log(params);

                $.ajax({
                    type: 'POST',
                    url: MOD_PATH+'/User/signUp', 
                    data: params,
                    dataType: 'json',
                    timeout: 3000,
                    success: function(data){
                    	 if(data.code==0)
                         {
                             $.toast("(^_^)"+data.msg);
                         }else if(data.code==1)
                         {
                        	 setTimeout(function(){
                                 window.location.href= MOD_PATH + "/User/bizCenter";
                             } ,1000);
                         }
                       
                    },
                    error: function(xhr, type){
                        server_error();
                        location.reload();   
                    }
                });
            });
        });

    </script>
    </body>
</html>
