<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
    	<div class="page" id="signIn">
            <header class="bar bar-nav">
                <h1 class="title">企业登录</h1>
            </header>
            <div class="content">
                <div >
                    <img src="/Public/images/bg_sign.jpg" alt="头部背景图片" class="img-responsive">
                </div>
                <div class="content-block">
                    <div class="info_row row no-gutter" style="border-radius: 5px 5px 0px 0px;">
                        <div class="col-20 text-center">
                            <span class="iconf iconf-user login-ico"></span>
                        </div>
                        <div class="col-80">
                            <input class="login-input" type="text" id="phone" name="phone"placeholder="请输入11位手机号码" />
                        </div>
                    </div>
                    <div class="info_row row no-gutter" style="border-top: 0 none; border-radius: 0px 0px 5px 5px;">
                        <div class="col-20 text-center">
                            <span class="iconf iconf-passWord login-ico"></span>
                        </div>
                        <div class="col-80">
                            <input class="login-input" type="password" id="password" name="password" placeholder="请输入您的密码" />
                        </div>
                    </div>    
                </div>
                <div class="content-block">
                    <div class="row f14">
                        <span class="col-50 text-left">
                            <a class="tx_a_passw fc_gray" href="resetPwd" external>忘记密码</a>    
                        </span>
                        <span class="col-50 text-right">
                            <a class="tx_a_reg" href="signUp" external>立即注册</a>
                        </span>
                    </div>
                </div>
                <div class="content-block">
                    <div class="row">
                        <div class="col-100">
                            <a id="dologin" href="#" class="button button-big button_orange bg_login">登&nbsp;&nbsp;录</a>
                        </div>
                    </div>
                </div>
            </div>
    	    <div class="tip_info text-center" style="display: none;"></div>
    	</div>
        <include file="Common/footer"/>          
        <script>
            $(function () {

                $('#dologin').click(function () {
                    event.preventDefault();
                    var phone = $("#phone").val();
                    var pwd = $("#password").val();
                    if (phone =='' || pwd == '') {
                        $.toast("(^_^) 用户名或密码不能为空啦", 1000);
                    } else {
                        doSignIn(phone, pwd);
                    }

                });

                function doSignIn(phone, pwd) {
                    $.post(
                    		MOD_PATH +'/User/signIn', { 
                            phone: phone,
                            password: pwd
                        }, 
                        function (data) {
                            if (data.code == 0) { 
                                $.toast("(^_^) 用户名或密码错误啦！", 1000);
                            } else { 
                                $.toast("(^_^) 招员工，找萝卜！", 1000);
                                setTimeout(function(){
                                        location.href = MOD_PATH +'/User/bizCenter';
                                }, 1000);
                            }
                        }
                    );
                }
            });
        </script>   
    </body>
</html>
