<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>萝卜兼职</title>
    <link rel="stylesheet" type="text/css" href="/Public/promot/css/base.css">
    <link rel="stylesheet" type="text/css" href="/Public/promot/css/jiazu.css">
    <link rel="stylesheet" type="text/css" href="/Public/promot/css/toast.css">
    <link rel="stylesheet" type="text/css" href="/Public/promot/css/weui.min.css">
</head>
<body>
<!--<header>-->
    <!--<a href="" class="icon-font return">&#xe601;</a>-->
    <!--<span>萝卜家族</span>-->
<!--</header>-->
<div class="header"></div>
<div class="user_info">
    <div class="user-img">
        <img src="{$wx_info.headimgurl}" alt="{$wx_info.nickname}">
    </div>
    <div class="user-text">
        <php>if($promot_info){echo $promot_info['realname'];}else{echo $wx_info['nickname'];}</php>
    </div>
    <div class="user-dengji">
        <i class="icon-font">&#xe605;</i>
        <span>
            {:get_promot_status($promot_info)}
        </span>
    </div>
    <div class="user-time">关注时间：<php>echo $wx_info['update_time'];</php></div>
    <div class="tuijian">
        推荐人：{$from_promot_name}
    </div>
</div>
<div class="user_count">
    <div class="left">
        <span>{$promot_info.number|default='0'}</span>
        <div>我的家族成员</div>
    </div>
    <div class="right">
        <span>{$rank_number}</span>
        <div>我的家族排名</div>
    </div>
</div>
<div class="bottom">
    <div class="menu">
        <a href="<php>if($promot_info){echo U('Promot/myfollow');}else{echo 'javascript:notapply()';}</php>">
            <div class="circle circle01">
                <i class="icon-font">&#xe602;</i>
            </div>
        </a>
        <span>家族成员 </span>
    </div>
    <div class="menu">
        <a href="{:U('Promot/join')}">
            <div class="circle circle02">
                <i class="icon-font">&#xe603;</i>
            </div>
        </a>
        <span>申请头领</span>
    </div>
    <div class="menu">
        <a href="<php>if($promot_info){echo U('Promot/qrcode',array('f'=>think_encrypt($promot_info['id'])));}else{echo 'javascript:notapply()';}</php>"  >
            <div class="circle circle03">
                <i class="icon-font">&#xe604;</i>
            </div>
        </a>
        <span>我的二维码</span>
    </div>
</div>


<script src="/Public/promot/js/jquery.js"></script>
<script src="/Public/promot/js/promot.js"></script>
<script>
    var status = parseInt('{$promot_info.status}');
    var remark = '{$promot_info.remark}';
    if(status == 2)
    {
        show_alert('审核失败',remark,'确定',function(){

        });
    }


    function notapply()
    {
        show_alert('提示','你还不是头领,或者申请后未经过审核','确定',function(){

        });
    }
</script>
</body>
</html>