<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
        <script id="applyList-tpl" type="text/html">
            {{each dataList as job i}}
                <li class="jobLi" iIndex="jobLi{{i}}">
                    <a href="__MODULE__/Job/jobDetail/{{#job.id}}" external>
                        <span class="iType cateId{{#job.pcateid%12}}">{{#job.category}}</span>
                        <div class="row no-gutter">
                            <div class="col-80 tx_ellips">
                                {{#job.title}}
                            </div>
                            <div class="col-20 text-center" style="display: none;">
                                <div class="bg_status bgGreen">
                                    <i class="i_triangle"></i>
                                    报名中
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-66 fc_lightGray">
                                <p class="f12 pos_rela">
                                    <span class="iconf iconf-location"></span>
                                    <span class="marg_left_10 tx_ellips pos_ab">{{#job.province}}{{#job.city}}{{#job.region}}</span>
                                </p>
                                <p class="f12 pos_rela">
                                    <span class="jobType">
                                    {{each job.attributes as value index}}
                                        {{if value == 1}}
                                            <img src="__PUBLIC__/images/danbao.png" alt="担保">
                                        {{else if value == 2}}
                                            <img src="__PUBLIC__/images/hongbao.png" alt="红包">
                                        {{else if value == 3}}
                                            <img src="__PUBLIC__/images/shuangxin.png" alt="双薪">
                                        {{/if}}
                                    {{/each}}
                                    </span>
                                    <span class="jobType">
                                        <img src="__PUBLIC__/images/paytype_{{job.payenum}}.png" alt="">
                                    </span>
                                </p>
                            </div>
                            <div class="col-33 text-right pos_income">
                                <strong class="f16">{{#job.income}}</strong>
                                <small class="fc_lightGray">{{#job.incomeunit}}</small>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="pos_rela text-right cancelFav">
                    {{if job.total == 0}}
                        <span class="f12 btnCancelFav bg-gray fc_white" id="{{#job.id}}">{{#job.total}}人申请</span>
                    {{else}}
                        <span class="f12 btnCancelFav bindBtnShowUserList" id="{{#job.id}}">{{#job.total}}人申请</span>
                    {{/if}}
                </li>  
            {{/each}}
        </script>    
    </head>
    <body>
    <div class="page-group">
        <div class="page page-current" id="applyList">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left" href="__APP__/Company/User/bizCenter" external data-transition="slide-out">
                    <span class="icon icon-left"></span>
                    返回
                </a>
                <h1 class='title'>投递记录</h1>
            </header>
            <div class="content infinite-scroll infinite-scroll-bottom" id="applyListScroll" data-distance="10">
                <div class="wrapJob">
                    <ul class="jobList">
                    </ul>
                    <div class="infinite-scroll-preloader">
                        <div class="preloader"></div>
                    </div>
                </div>
                <footer class="text-center padd_20">
                    <p class="fc_orange f16">萝卜兼职网</p>
                    <p class="fc_orange f10">www.luobojianzhi.com</p>
                    <p class="f10">最靠谱的大学生兼职平台</p>
                </footer>                
            </div>
        </div>
    </div>
    <include file="Common/footer"/>
    <script>
        $(function() {
            $(document).on("pageInit", "#applyList", function(e, id, page) {
                // 每页数据量
                var pageSize = 10;
                // 当前页码
                var currPage = 1;
                // 加载flag
                var loading = false;
                // 最大加载数
                var maxItems = 100;

                function addItems() {
                    $.ajax({
                        type: 'POST',
                        url: APP_PATH+'/Company/Apply/all',
                        data: { 
                            "currPage": currPage, 
                            "pageSize": pageSize
                        },
                        dataType: 'json',
                        timeout: 3000,
                        context: $('.jobList'),
                        success: function(data){
                            console.log("data", data);
                            if(data.code) {
                                maxItems = data.data.total;
                                if(maxItems <= 0) return false;
                                var data = {
                                    "dataList": data.data.data
                                };

                                var html = template('applyList-tpl', data);
                                this.append(html);
                                $('.infinite-scroll-preloader').hide();

                                loading = false;
                                currPage ++;
                                
                            } else {
                                $.toast("(^_^) 暂时木有投递记录啦！")
                                $.detachInfiniteScroll($('.infinite-scroll'));
                                $('.infinite-scroll-preloader').hide();
                            }
                        },
                        error: function(xhr, type){
                            console.log("xhr", xhr);
                            server_error();
                            $.detachInfiniteScroll($('.infinite-scroll'));
                            $('.infinite-scroll-preloader').hide();
                        }
                    });
                }

                // 预先加载第1页数据
                addItems();
                // 注册'infinite'事件处理函数
                $(document).on('infinite', '.infinite-scroll-bottom', function() {
                    $('.infinite-scroll-preloader').show();
                    if (loading) return;
                    // 设置flag
                    loading = true;
                    // 延迟100s的加载过程
                    setTimeout(function() {
                        if ((currPage - 1) * pageSize > maxItems) {
                            $.detachInfiniteScroll($('.infinite-scroll'));
                            $.toast("(^_^) 木有更多信息啦！");
                            $('.infinite-scroll-preloader').hide();
                            return;
                        }
                        addItems(currPage, pageSize);
                        $.refreshScroller();
                    }, 500);

                });      

                // 点击查看几人申请按钮
                $(document).bind('click', '.bindBtnShowUserList', function () {
                    jobId = this.id;
                    location.href = CON_PATH+'/applyUserList/'+jobId; 
                });
            }); 

            $.init();  
        });      
    </script>
</body>
</html>