<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>     
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="bizInfo" >
                <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="__MODULE__/User/bizCenter"  data-transition="slide-out">
                    <span class="icon icon-left"></span>
                   返回
                </a>
                    <h1 class="title">企业中心</h1>
                </header>
                <div class="content wrapUserResume">
                    <div class="bgContainer bg_orange">
                        <div id="bizInfo-top-container">
                          
                        </div>
                    </div>   
                    <section class="sResumeCont">
                        <div class="resumeTitle f12 line_h1">
                            <span class="bgTitle bg_orange f_left marg_right_10"></span>
                            <span>基本信息</span>
                            <a id="perfectInfo" href="__MODULE__/User/perfectInfo" class="btnTitle f_right">
                                修改&nbsp;&nbsp;<i class="icon icon-right f10"></i>
                            </a>
                        </div>
                        <div class="resumeCont" id="bizInfo-mid-container">   
                        </div>   
                    </section>
                    <section class="sResumeCont">
                        <div class="resumeTitle f12 line_h1">
                            <span class="bgTitle bg_orange f_left marg_right_10"></span>
                            <span>详细信息</span>
                            <a href="__MODULE__/User/bizInfoDetail" class="btnTitle f_right">
                                修改&nbsp;&nbsp;<i class="icon icon-right f10"></i>
                            </a>
                        </div>
                        <div class="resumeCont" id="bizInfo-btm-container">
                        </div>   
                    </section>
                </div>
            </div>
        </div>    
        <include file="Common/footer"/>
        <include file="Common/tpl/tpl-bizCenter" />
        <include file="Common/tpl/tpl-bizInfo" />
        <include file="Common/tpl/tpl-bizInfoDetail" />
        <include file="Common/tpl/tpl-perfectInfo" />
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/company-user-bizInfo.js' charset='utf-8'></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/company-user-bizCenter.js?t=1482911928945' charset='utf-8'></script>
    </body>
</html>

