<!DOCTYPE html>
<html>
	<head>
		<title>萝卜兼职</title>
		<include file="Common/header"/>
	</head>
	<body>
		<div class="page-group">
			<div class="page page-current" id="adminInviteCode">
				<header class="bar bar-nav">
					<a class="button button-link button-nav pull-left back" href="__APP__/Home/User/userCenter"> 
						<span class="icon icon-left"></span> 
						返回
					</a>
					<h1 class="title">填写邀请码</h1>
				</header>
				<div class="content">
					<div class="invite-code-back">
					</div>
					<form>
						<div class="content-block f14 wrapRegCont marg_bottom_0">
							<div class="row no-gutter line_b">
								<div class="col-25 text-left">邀请码</div>
								<div class="col-75 line_l">
									<input class="form-control gttv" type="number"
									name="adminInviteCode" placeholder="请输入加盟商所给的邀请码" maxlength="16" disabled />
								</div>
							</div>
						</div>
					</form>
					<p class="tip-for-modify-once">邀请码只能填写一次，不能修改。</p>
					<div class="content-block" id="btn_if_show" style="display:none;">
						<div class="row">
							<div class="col-100">
								<a id="btn_send_code" href="javascript:;" class="button button-big button_orange bg_reg">确定</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<include file="Common/footer"/>
		<include file="Common/tpl/tpl-userCenter" />
		<script type="text/javascript" src='__PUBLIC__/source/debug/scripts/home-user-center.js?t=1484274672336' charset='utf-8'></script>
	</body>
</html>