<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="myApply">
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left" href="__CONTROLLER__/userCenter" external>
                        <span class="icon icon-left"></span>
                       返回
                    </a>
                    <h1 class='title'>我的申请</h1>
                </header>
                <div class="buttons-tab fixed-tab" data-offset="44">
                    <div id="s1" data-status="1_5" class="tab-link button line_r active">待录用</div>
                    <div id="s2" data-status="3" class="tab-link button line_r">待完成</div>
                    <div id="s3" data-status="4_6" class="tab-link button">已完成</div>
                </div>
                <div class="resetConBlock">
                    <div class="content-block">
                        <div class="tabs">
                            <div id="tab_content" class="tab active">
                                <div class="content-block content infinite-scroll infinite-scroll-bottom"  data-distance="10">
                                    <div class="wrapJob">
                                        <ul class="jobList"></ul>
                                        <div class="infinite-scroll-preloader">
                                            <div class="preloader"></div>
                                        </div>
                                    </div>
                                    <footer class="text-center padd_20">
                                        <p class="fc_orange f16">萝卜兼职网</p>
                                        <p class="fc_orange f10">www.luobojianzhi.com</p>
                                        <p class="f10">最靠谱的大学生兼职平台</p>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <include file="Common/tpl/tpl-myApply" />
        <include file="Common/footer"/>
        <script type="text/javascript" src="/Public/source/debug/scripts/home-job-detail.js?t=1484211825100"></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/home-user-myApply.js?t=1484211825100' charset='utf-8'></script>
    </body>
    <script>
      $(function(){
        var userId = 0;
        $.ajax({
            type: 'POST',
            url:APP_PATH+ '/Home/User/detail',
            dataType: 'json',
            async:false,
            timeout: 3000,
            context: $('#userData'),
            success:function(res){

                userId = res.data.id;
            },
            error:function(){
                server_error();
            }
        });
      });
    </script>
</html>