<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" style="display: block;" id="userSchoolInfo">
                <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="__APP__/Home/User/userResume" data-transition="slide-out">
                    <span class="icon icon-left"></span>
                   返回
                </a>
                    <h1 class="title">学校信息</h1>
                </header>
                <div class="content wrapPerfectInfo" id="wrapUserSchoolInfo">
                    <form action="" method="post" class="form_perfectInfo">
                        <div class="content-block f14 wrapRegCont list-block">
                            <div class="row no-gutter item-content">
                                <div class="item-inner">
                                    <div class="col-25 text-left item-title pos_rela line_r">
                                        城&nbsp;&nbsp;市
                                    </div>
                                    <div class="col-75">
                                        <div class="col-50 f_left selectProvince pos_rela item-input">
                                            <select class="tx_indent" id="province-list">

                                            </select>
                                            <span class="icon icon-right pos_arr"></span>
                                        </div>
                                        <div class="col-50 f_right selectCity pos_rela item-input">
                                            <select class="tx_indent" id="city-list">
                                              
                                            </select>
                                            <span class="icon icon-right pos_arr" style="right: -.45rem;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter item-content item-link">
                                <div class="item-inner">
                                    <div class="col-25 text-left item-title pos_rela line_r">
                                        区&nbsp;&nbsp;域
                                    </div>
                                    <div class="col-75 ">
                                        <div class="f_left pos_rela item-input">
                                            <!-- <span class="fc_lightGray">点击选择区域</span> -->
                                            <select class="tx_ellips tx_indent" id="region-list">
                                              
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter item-content item-link">
                                <div class="item-inner">
                                    <div class="col-25 text-left item-title pos_rela line_r">
                                        学&nbsp;&nbsp;校
                                    </div>
                                    <div class="col-75 ">
                                        <div class="f_left pos_rela selectSchool item-input">
                                            <!-- <span class="fc_lightGray">点击选择学校</span> -->
                                            <select class="tx_ellips tx_indent" id="school-list">
                                              
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter selectClass  item-content item-link">
                                <div class="item-inner">
                                    <div class="col-25 text-left pos_rela line_r">
                                        年&nbsp;&nbsp;级
                                    </div>
                                    <div class="col-75 ">
                                        <div class="f_left pos_rela tx_indent  item-input">
                                            <select class="tx_indent" id="grade-list">

                                            </select>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                            <div class="row no-gutter  item-content" style='display: none'>
                                <div class="item-inner">
                                    <div class="col-25 text-left item-title pos_rela line_r">
                                        院&nbsp;&nbsp;系
                                    </div>
                                    <div class="col-75 item-input">
                                        <input  id="" class="form-control gttv" type="text" name="phone" placeholder="请填写院系-可选填" />
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutter  item-content">
                                <div class="item-inner">
                                    <div class="col-25 text-left item-title pos_rela line_r">
                                        专&nbsp;&nbsp;业
                                    </div>
                                    <div class="col-75 item-input">
                                        <input  id="userMajor" class="form-control gttv" type="text" name="major" placeholder="请填写专业-可选填" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="content-block">
                        <div class="row">
                            <div class="col-100">
                                <a  class="button button-big button_orange" id='save-school-btn'>保存</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Common/tpl/tpl-schoolInfo" />
        <include file="Common/footer"/>          
        <script type='text/javascript' src='__PUBLIC__/source/debug/scripts/home-user-schoolInfo.js?t=1484274180316' charset='utf-8'></script> 
    </body>
</html>

