<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" style="display: block;" id="userFullInfo">
                <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back">
                    <span class="icon icon-left"></span>
                    返回
                </a>
                    <h1 class="title">填写简历</h1>
                </header>
                <div class="content wrapPerfectInfo" id="wrapUserFullInfo">
                    <form action="" method="post" class="form_perfectInfo">
                        
                    </form>
                    <div class="content-block">
                        <div class="row">
                            <div class="col-100">
                                <a class="button button-big button_orange" id='save-full-btn'>保存</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Common/footer"/>          
        <script type='text/javascript' src='__PUBLIC__/source/debug/scripts/home-user-fullInfo.js?t=1484274180316' charset='utf-8'></script> 
    </body>
</html>

