<!DOCTYPE html>
<html>
    <head> 
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="userCenter">
                <!--头部-->
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left" external href="__APP__">
                        <span class="icon icon-left"></span>
                        返回
                    </a>
                    <h1 class="title">个人中心</h1>
                </header>
                <div class="content wrapUserCenter" id="wrapUserCenter">
                    <div class="bgContainer bg_orange" id="userData">
                    </div>   
                    <section class="marg_bottom_10">
                        <div class="list-block">
                            <ul class="marg_bottom_10">
                                <a href="__MODULE__/Wallet/myWallet" external>
                                    <li class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="f16 item-title">
                                                <i class="iconf iconf-cash marg_right_10" style="color: #ec5942;  display: inline-block; margin-top: -3px;"></i>我的钱包
                                            </div>
                                        </div>
                                    </li>
                                </a>
                                <a href="__MODULE__/User/userResume" external>
                                    <li class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="f16 item-title">
                                                <i class="iconf iconf-manager marg_right_10"></i>我的简历
                                            </div>
                                        </div>
                                    </li>
                                </a>
                                <a href="__MODULE__/User/myApply" data-no-cache="true" external>
                                    <li class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="f16 item-title">
                                                <i class="iconf iconf-group marg_right_10" style="color: #00bb9c;"></i>我的申请
                                            </div>
                                        </div>
                                    </li>
                                </a>
                                <a href="__MODULE__/User/myFavorite" data-no-cache="true" external>
                                    <li class="item-content item-link" id='toMyFavorite'>
                                        <div class="item-inner">
                                            <div class="f16 item-title">
                                                <i class="iconf iconf-fav marg_right_10" style="color: #ec5942;" ></i>我的收藏
                                            </div>
                                        </div>
                                    </li>
                                </a>
                                <a href="javascript:;" style="display:none;" id="toInviteCode">
                                    <li class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="f16 item-title">
                                                <i class="iconf iconf-yaoqing marg_right_10" style="color: #349FE6;" ></i><span></span>
                                            </div>
                                        </div>
                                    </li>
                                </a>
                            </ul>
                        </div>    
                    </section>
                    <section class="marg_bottom_10">
                        <div class="list-block">
                            <ul class="marg_bottom_10">
                                <a href="__APP__/Home/User/feedback" data-no-cache="true">
                                    <li class="item-content item-link" >
                                        <div class="item-inner">
                                            <div class="f16 item-title">
                                                <i class="iconf iconf-fankui marg_right_10" style="color: #56abe4;"></i>意见反馈
                                            </div>
                                        </div>
                                    </li>
                                </a>
                                <a href="__APP__/Home/User/aboutUs" data-no-cache="true">
                                    <li class="item-content item-link" >
                                        <div class="item-inner">
                                            <div class="f16 item-title">
                                                <i class="iconf iconf-about marg_right_10"></i>关于萝卜
                                            </div>
                                        </div>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </section>
                    <section class="marg_bottom_10">
                        <div class="list-block" >
                            <ul class="marg_bottom_10">
                                <a href="__APP__/Home/User/userSetting" data-no-cache="true">
                                    <li class="item-content item-link" >
                                        <div class="item-inner">
                                            <div class="f16 item-title">
                                                <i class="iconf iconf-set marg_right_10" style="color: #a461bd;" ></i>设置
                                            </div>
                                        </div>
                                    </li>
                                </a>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
     
        <include file="Common/footer"/> 
        <include file="Common/tpl/tpl-userCenter" />         
        <script type='text/javascript' src='__PUBLIC__/source/debug/scripts/home-user-feedback.js' charset='utf-8'></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/home-user-setting.js?t=1487059170661' charset='utf-8'></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/home-user-modifypwd.js?t=1487059112023' charset='utf-8'></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/home-user-center.js?t=1484274672336' charset='utf-8'></script>
    </body>
</html>

