<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
    <div class="page" id="signUp">
        <header class="bar bar-nav">
            <h1 class="title">个人注册</h1>
        </header>
        <div class="content">
            <div>
                <img src="/Public/images/bg_sign.jpg" alt="萝卜头像" class="img-responsive">
            </div>   
            <form action="__MODULE__/Mobile/doNewReg" method="post" id="form-reg" class="wrapPerfectInfo">
                <div class="content-block f14 wrapRegCont list-block">
                    <div class="row no-gutter line_b">
                        <div class="col-25 text-left">
                            手机号
                        </div>
                        <div class="col-75 line_l">
                            <input class="form-control gttv" type="text" name="phone" placeholder="请输入11位手机号码" />
                        </div>
                    </div>
                    <div class="row no-gutter line_b">
                        <div class="col-25 text-left">
                            姓名
                        </div>
                        <div class="col-75 line_l">
                            <input class="form-control gttv" type="text" name="realName" placeholder="请输入真实姓名" />
                        </div>
                    </div>
                    <div class="row no-gutter line_b">
                        <div class="col-25 text-left">
                            城市
                        </div>
                        <div class="col-75 line_l">
                            <div class="col-50 f_left selectProvince pos_rela item-input">
                                <select class="tx_indent" id="province-list" name="provinceId">
                                    
                                </select>
                                <span class="icon icon-right pos_arr"></span>
                            </div>
                            <div class="col-50 f_right selectCity pos_rela item-input">
                                <select class="tx_indent" id="city-list" name="cityId">
                                  
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutter line_b">
                        <div class="col-25 text-left">
                            验证码
                        </div>
                        <div class="col-40 line_l">
                            <input class="form-control gttv" type="text" name="captcha" placeholder="请输入6位验证码" />
                        </div>
                        <div class="col-33 f_right">
                            <button class="btn btn-block gtbtn" type="button" id="getCaptcha" style="color:#fff;">
                                获取验证码
                            </button>
                        </div>
                    </div>
                    <div class="row no-gutter line_b" style="display: none;">
                        <div class="col-25 text-left">
                            图形验证码
                        </div>
                        <div class="col-40 line_l">
                            <input class="form-control gttv" type="text" name="verifyCode" placeholder="请输入6位验证码" />
                        </div>
                        <div class="col-33 f_right text-right tuCode">
                            <img src="__CONTROLLER__/getThinkCode"  border="1" style="cursor: pointer;" title="看不清？点击更换另一个验证码。"/>
                        </div>
                    </div>
                    <div class="row no-gutter line_b">
                        <div class="col-25 text-left">
                            设置密码
                        </div>
                        <div class="col-75 line_l">
                            <input class="form-control gttv" type="password" name="password" placeholder="请输入6位及以上非纯数字密码" />
                        </div>
                    </div>
                    <div class="row no-gutter line_b">
                        <div class="col-25 text-left">
                            邀请码
                        </div>
                        <div class="col-75 line_l">
                            <input class="form-control gttv" type="number" name="chiefInviteCode" placeholder="请输入4位数字邀请码(选填)" />
                        </div>
                    </div>
                    <div class="row no-gutter marg_top_10">
                        <input type="checkbox" name="agree" value="checked" checked="checked" class="input_apper " />我已阅读<a href="agreement" class="fcBlue">《萝卜兼职协议条款》</a>
                    </div>
                </div>
            </form>
            <div class="content-block">
                <div class="row">
                    <div class="col-100">
                        <a id="doNewReg" href="#" class="button button-big button_orange bg_reg">注&nbsp;&nbsp;册</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tip_info text-center" style="display: none;"></div>
    </div>
    <script id ="province-list-tpl" type='text/html'>
        {{each option as value index}}
            {{if value.status==1}}
                <option value="{{value.id}}">{{value.name}}</option>
            {{/if}}
        {{/each}}
    </script> 
    <script id ="city-list-tpl" type='text/html'>
        {{each option as value index}}
            {{if value.status==1}}
                <option value="{{value.id}}">{{value.name}}</option>
            {{/if}}
        {{/each}}
    </script> 
    <include file="Common/footer"/>
    <script>
        $(function () {
            var provinces ={
                p0: {
                    data: [{
                        name: "全部",
                        id: 0,
                        status: 1
                    }]
                }
            };
            $.ajax({
                type: 'POST',
                url:APP_PATH+ '/Home/Gp/citylist',
                dataType: 'json',
                timeout: 3000,
                success:getGPDataSuccess,
                error:server_error
            });

            function getGPDataSuccess(res){
                console.log(res.data);
                var datas = res.data;
                for (var i in datas){
                    provinces['p'+(datas[i].id)] = datas[i];
                }
                $("#province-list").html('<option value="0">全部</option>' + template('province-list-tpl',{option:provinces}))
                .change(reRenderCityList).trigger('change');
            }
            
            function reRenderCityList(){
                $('#city-list').html(template('city-list-tpl', {option : provinces['p'+ $(this).val()].data}))
                .trigger('change');
            }
            
            var time=60;
            var intervalId;
            var jobId = getQueryStringArgs()['jobId'];
            clampInputNum($('input[name="chiefInviteCode"]'), 4);

            function getCaptcha() {

                var phone = $("input[name='phone']").val();
                var verifyCode = $("input[name='verifyCode']").val();

                // 验证手机号
                var reg = /^0?1[3|4|5|8|7][0-9]\d{8}$/;
                if (!reg.test(phone)) {
                    $.toast("手机号码格式不正确啦!", 1000, "toast_orange");
                    return;
                } 

                // 获取手机验证码
                $.ajax({
                    type: 'POST',
                    url: MOD_PATH + '/Tools/getCaptcha', 
                    data: { phone : phone, verifyCode : verifyCode },
                    dataType: 'json',
                    timeout: 3000,
                    success: function(data){
                        if(!data.code) {
                            $.toast(data.msg);
                            return false;
                        } else {
                            $("#getCaptcha").attr("disabled", "disabled");
                            $("#getCaptcha").css({"background": "gray"}); 
                            intervalId = setInterval(refreshGetCaptcha, 1000); 
                        }
                    },
                    error: function(xhr, type){
                        server_error();
                        location.reload();   
                    }
                });
            }

            function getQueryStringArgs () {
                var qs = (location.search.length > 0 ? location.search.substring(1) : ""),
                args = {},
                items = qs.length ? qs.split("&") : [],
                item = null,
                name = null,
                value = null,
                i = 0,
                len = items.length;

                for (i = 0; i < len; i++) {
                    item = items[i].split("=");
                    name = decodeURIComponent(item[0]);
                    value = decodeURIComponent(item[1]);
                    if (name.length) {
                        args[name] = value;
                    }
                }
                return args;
            }

            function refreshGetCaptcha() {
                var btnCaptcha = $("#getCaptcha");
                btnCaptcha.html(time+ '秒后重发');
                time--;
                if(time < 0) {
                    clearInterval(intervalId);
                    $("input[name='phonecaptcha']").removeAttr("readonly");
                    btnCaptcha.removeAttr("disabled", "disabled");
                    btnCaptcha.css({"background": "#F3994F"});
                    btnCaptcha.html("获取验证码");
                    time = 60;
                }
            }

            function clampInputNum(container, num) {
                $(container).off('textInput').off('paste').on('textInput', function (e) {
                    if ($(this).val().length >= num) {
                        e.preventDefault();
                    }
                }).on('paste', function (e) {
                    e.preventDefault();
                });
            }
        
            // 获取验证码
            $('#getCaptcha').on('click', '', function (event) {
                event.preventDefault();
                getCaptcha();
            });
            
            // TODO 失去焦点，激活获取验证码按钮
            $("#phone").bind("input propertychange", function () {
            });

            // 点击注册
            $('#doNewReg').on('click', '', function (event) {

                event.preventDefault();

                // 客户端验证
                var name = $('input[name="realName"]').val();
                if (!name || !name.trim()) {
                    $.toast('请输入真实姓名');
                    return false;
                }

                var provinceId = $('select[name="provinceId"]').val(), cityId = $('select[name="cityId"]').val();
                if (provinceId == 0 || cityId == 0) {
                    $.toast('请选择省市');
                    return false;
                }

                var reg = /^0?1[3|4|5|8|7][0-9]\d{8}$/;
                if (!reg.test($("input[name='phone']").val())) {
                    $.toast("手机号码格式不正确啦!");
                    return false;
                } 

                reg = /^\d+$/;
                var phoneCaptcha = $("input[name='captcha']").val();
                if (phoneCaptcha.length != 6 || !reg.test(phoneCaptcha)) {
                    $.toast("请输入6位数字验证码");                 
                    return false;
                }   

                var text = $("input[name='password']").val();
                if(!isPasswprd(text)){
                    $.toast("密码必须为6位及以上数字字母组合", 1000, "toast_orange");  
                    return false;
                }   

                if(!$("input[name='agree']").prop("checked")) {
                    $.toast("(^_^) 请先同意萝卜兼职协议条款！");
                    return false;
                }

                // 服务器端验证
                params=$("#form-reg").serialize();
                console.log(params);

                $.ajax({
                    type: 'POST',
                    url: MOD_PATH+'/User/signUp', 
                    data: params,
                    dataType: 'json',
                    timeout: 3000,
                    success: function(data){
                         if(data.code==0)
                         {
                             $.toast("(^_^)"+data.msg);
                         }else if(data.code==1)
                         {
                             $.toast("(^_^) 恭喜您注册成功啦！");
                          
                             setTimeout(function(){
                                if (jobId) {
                                    location.href = APP_PATH + '/Home/Job/detail/jobId/' + jobId + '?qLink=1';
                                } else {
                                    location.href= APP_PATH;
                                }     
                             } ,1000);
                         
                         }
                       
                    },
                    error: function(xhr, type){
                        server_error();
                        location.reload();   
                    }
                });
            });
        });
    </script>
    </body>
</html>