<script id = "user-perfect-tpl" type='text/html'>
    <form action="" method="post" class="form_perfectInfo">
        <div class="content-block f14 wrapRegCont list-block">
            <div class="row no-gutter  item-content">
                <div class="item-inner">
                    <div class="col-25 text-left item-title pos_rela line_r">
                        公司名称
                    </div>
                    <div class="col-75 item-input">
                        <input  id="" class="form-control gttv" type="text" name="companyName" placeholder="请输入真实名称" value="{{company.companyname}}" />
                    </div>
                </div>
            </div>
            <div class="row no-gutter  item-content">
                <div class="item-inner">
                    <div class="col-25 text-left item-title pos_rela line_r">
                        详细地址
                    </div>
                    <div class="col-75 item-input">
                        <input  id="" class="form-control gttv" type="text" name="address" placeholder="请输入详细地址" value="{{company.address}}" />
                    </div>
                </div>
            </div>
            <div class="row no-gutter item-content">
                <div class="item-inner">
                    <div class="col-25 text-left item-title pos_rela line_r">
                        所在城市
                    </div>
                    <div class="col-75">
                        <div class="col-50 f_left selectProvince pos_rela item-input">
                            <select class="tx_indent" name="provinceId" id="province-list">
                            </select>
                            <span class="icon icon-right pos_arr"></span>
                        </div>
                        <div class="col-50 f_right selectCity pos_rela item-input">
                            <select class="tx_indent" name="cityId" id="city-list">
                            </select>
                            <span class="icon icon-right pos_arr" style="right: -.45rem;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutter item-content">
                <div class="item-inner tagInner">
                    <div class="col-25 text-left item-title pos_rela line_r">
                        证件上传
                    </div>
                    <div class="col-75 ">
                        <div class="f_left pos_rela item-input" id="showZImg">
                            <input type="hidden" name="locallicenceimage" id="locallicenceimage-field"/>
                            <input type="hidden" name="licenceimage" id="licenceimage-field" value="{{company.licenceimage}}"/>
                            <img  class="showZImg  f_left" border="0" alt="营业执照或法人身份证(正面)" title="营业执照或法人身份证(正面)" src='{{company.licenceimage == "" ? "empty": company.licenceimage}}' />
                            <div id="perfectInfo-upload" class="wrapBtnForUp text-center f_right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form> 
    <div class="bakTx">
        <div class="fc_orange f12 wrapBakTx line_h15">
            请上传企业营业执照或法人的身份证(正面)<br />
            完善信息后:发布兼职信息将免去审核过程,并有人员推荐推送.
        </div>
    </div>
    <div class="bakTx f12 fc_gray marg_top_10">
        <span class="fc_orange">注:</span>&nbsp;&nbsp;请谨慎填写企业信息,提交后就不能修改.<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如需修改请联系客服.
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-100">
                <a id="perfectInfo-submit" href="#" class="button button-big button_orange">提交</a>
            </div>
        </div>
    </div>                   
</script> 