<script id="bizInfo-top-tpl" type="text/html">
    <dl class="row paddForDl">
        <dt class="col-20 paddForDt f_left">
            <div class="wrapUserPhoto">
                <img src="{{(logo!=''&&logo!=null)?logo:'__PUBLIC__/images/logo.png'}}" alt="默认用户头像" class="img-responsive">
            </div>
        </dt>
        <dd class="col f_left f12" style="min-width: 42%; width: 42%; margin-left: 4%;">
            <p class="line_h2">{{username}}</p>
            <p>{{phone}}</p>
        </dd>
        <dd class="col-33 f_left f12 text-right" id="bizInfo-upload" style="display: block;">
            
        </dd>
    </dl>
</script>

<script id="bizInfo-mid-tpl" type="text/html">
    <ul class="f12">
    <li class="row no-gutter line_h2">
        <div class="col-25 fc_lightGray">
            企业名称：
        </div>
        <div class="col-75">
            {{companyname}}
        </div>
    </li>
    <li class="row no-gutter line_h2">
        <div class="col-25 fc_lightGray">
            所在城市：
        </div>
        <div class="col-75">
            {{province}}{{city}}
        </div>
    </li>
    <li class="row no-gutter line_h2">
        <div class="col-25 fc_lightGray">
            详细地址：
        </div>
        <div class="col-75">
            {{address}}
        </div>
    </li>
    <li class="row no-gutter line_h2">
        <div class="col-25 fc_lightGray">
            证件信息：
        </div>
        <div class="col-75">
            <img src="{{(licenceimage!=''&&licenceimage!=null)?licenceimage:'__PUBLIC__/images/upLoad.png'}}" class="showZImg  f_left" border="0" alt="营业执照或法人身份证(正面)" title="营业执照或法人身份证(正面)" />
        </div>
    </li>
</ul>
</script>

<script id="bizInfo-btm-tpl" type="text/html">
    <ul class="f12">
        <li class="row no-gutter line_h2">
            <div class="col-25 fc_lightGray">
                联系人
            </div>
            <div class="col-75">
                {{realname}}
            </div>
        </li>
        <li class="row no-gutter line_h2">
            <div class="col-25 fc_lightGray">
                联系手机：
            </div>
            <div class="col-75">
                {{phone}}
            </div>
        </li>
        <li class="row no-gutter line_h2">
            <div class="col-25 fc_lightGray">
                企业简介：
            </div>
            <div class="col-75">
                {{intro}}
            </div>
        </li>
    </ul>
</script>