<script id="bizInfo_detail-tpl" type="text/html">
    <div class="content-block f14 wrapRegCont list-block">
        <div class="row no-gutter  item-content">
            <div class="item-inner">
                <div class="col-25 text-left item-title pos_rela line_r">
                    联系人
                </div>
                <div class="col-75 item-input">
                    <input  id="" class="form-control gttv" type="text" value="{{realname}}" name="realname" placeholder="请输入联系人名字" />
                </div>
            </div>
        </div>
        <div class="row no-gutter  item-content">
            <div class="item-inner">
                <div class="col-25 text-left item-title pos_rela line_r">
                    联系电话
                </div>
                <div class="col-75 item-input">
                    <input  id="" class="form-control gttv" type="text" value="{{phone}}" readonly placeholder="请输入联系电话" />
                </div>
            </div>
        </div>
        <div class="row no-gutter  item-content">
            <div class="item-inner">
                <div class="col-25 text-left item-title pos_rela line_r">
                    公司简介
                </div>
                <div class="col-75 item-input wrapTagTextArea">
                    <textarea  id="" class="form-control gttv" type="textarea" name="intro" placeholder="&nbsp;&nbsp;请填写公司简介" >{{intro}}</textarea>
                </div>
            </div>
        </div>
    </div>
</script>               