<script type='text/javascript' src='__PUBLIC__/source/dist/luobo.js' charset='utf-8'></script>
<script src="/Public/task/js/constVal.js"></script>
<script src="/Public/task/js/task.js?t=1487055379193"></script>
<script type="text/javascript">
    function server_error() {
        $.toast("(^_^) 同学们太热情，萝卜表示鸭梨很大！");
    }
    function data_warn() {
         $.toast("(^_^)  木有兼职信息啦！", 1000);
    }
    function biLog(data){
        $init = {
            "source": "wechat.luobojianzhi.com"
        }
        $.ajax({
            type: 'POST',
            url:  MOD_PATH+'/Tools/biLog',
            data: { biData : $.extend($init, data)}
        });
    }
</script>