<!DOCTYPE html>
<html>
  <head>

    <title>萝卜兼职</title>

    <include file="Common/header"/>

  </head>
  <body>
    <div class="page-group">
        <div class="page panel-left panel-cover" id="chooseCity">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back toIndex" href="#index">
                    <span class="icon icon-left"></span>
                    返回
                </a>
                <h1 class="title">选择城市</h1>
            </header>
            <div class="content">               
                <div class="wrapUl native-scroll" id="wrapTabCity">
                    <ul>
                        <li class="padd-20 pos_rela">
                            <h3 class="pos_rela fc_orange">山东省</h3>
                            <ul class="bor_top">
                                <li class="padd-20 pos_rela fc_lightGray">威海</li>
                                <li class="padd-20 pos_rela">青岛</li>
                                <li class="padd-20 pos_rela">潍坊</li>
                                <li class="padd-20 pos_rela">不限</li>
                                <li class="padd-20 pos_rela">威海</li>
                                <li class="padd-20 pos_rela">青岛</li>
                                <li class="padd-20 pos_rela">潍坊</li>
                                <li class="padd-20 pos_rela">不限</li>
                                <li class="padd-20 pos_rela">威海</li>
                                <li class="padd-20 pos_rela">青岛</li>
                                <li class="padd-20 pos_rela">潍坊</li>
                            </ul>
                        </li>
                        <li class="padd-20 pos_rela">
                            <h3 class="pos_rela">山西省</h3>
                            <ul class="bor_top">
                                <li class="padd-20 pos_rela">威海</li>
                                <li class="padd-20 pos_rela">青岛</li>
                                <li class="padd-20 pos_rela">潍坊</li>
                                <li class="padd-20 pos_rela">不限</li>
                                <li class="padd-20 pos_rela">威海</li>
                                <li class="padd-20 pos_rela">青岛</li>
                                <li class="padd-20 pos_rela">潍坊</li>
                                <li class="padd-20 pos_rela">不限</li>
                                <li class="padd-20 pos_rela">威海</li>
                                <li class="padd-20 pos_rela">青岛</li>
                                <li class="padd-20 pos_rela">潍坊</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
 <script>
    // $(function() {
       
    // });
        
</script>
 <script>       
    // $(function () {
    //     $.init();
    // });
    // $(document).on("click", ".chooseCity", function() {
    //     $.openPanel("#chooseCity");
    // });
    // $(document).on("click", ".toIndex", function() {
    //     $.closePanel("#index");
    // });
</script>
</html>