<!DOCTYPE html>
<html>
    <head> 
        <title>萝卜兼职</title>  
        <include file="Common/header"/>
        <include file="Common/tpl/tpl-userIncomeDetail" />
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="freeIncome">
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left" external href="__APP__/Home/User/userCenter">
                        <span class="icon icon-left"></span>
                        返回
                    </a>
                    <h1 class="title">理财收益详情</h1>
                </header>
                <div class="content">
                    <ul id="freeIncomeList">
                        <li class="incomeItem">
                            <img src="/Public/images/logo.png" alt="">
                            <div class="item_center_part">
                                <h3>孙鹏磊</h3>
                                <p><span class="iconf iconf-clock"></span>2016.12.02</p>
                            </div>
                            <div class="item_right_part">+0.20元</div>
                        </li>
                        <li class="incomeItem">
                            <img src="/Public/images/logo.png" alt="">
                            <div class="item_center_part">
                                <h3>孙鹏磊</h3>
                                <p><span class="iconf iconf-clock"></span>2016.12.02</p>
                            </div>
                            <div class="item_right_part">+0.20元</div>
                        </li>
                        <li class="incomeItem">
                            <img src="/Public/images/logo.png" alt="">
                            <div class="item_center_part">
                                <h3>孙鹏磊</h3>
                                <p><span class="iconf iconf-clock"></span>2016.12.02</p>
                            </div>
                            <div class="item_right_part">+0.20元</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <include file="Common/tpl/tpl-userCenter" />
        <include file="Common/footer"/>
        <script type="text/javascript" src='__PUBLIC__/source/debug/constVal/constVal.js' charset='utf-8'></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/home-wallet-myWallet.js' charset='utf-8'></script>
    </body>
</html>