<!DOCTYPE html>
<html>
<head>

    <title>萝卜兼职</title>

    <include file="Common/header"/>

</head>
<body>
<div class="page" style="display: block;">
    <!--头部-->
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left" href="#jobDetail" data-panel="#">
            <span class="icon icon-left"></span>
         返回
        </a>
        <h1 class="title">查看地图</h1>
    </header>
    <div class="content">
        <div class="wrapMap"></div>
      </div>
    </div>

</div>
</body>
</html>
<script>

</script>