<!DOCTYPE html>
<html>
    <head>
 
        <title>萝卜兼职</title>
        
        <include file="Common/header"/>

    </head>
    <body>
        <div class="page-group">
          <div class="page page-current" id='router'>
          <header class="bar bar-nav">
            <h1 class='title'>test.html</h1>
          </header>
          <div class="content">
            <div class="content-block">
              <ul>
                <li><a href="__APP__/Home/Html/ajax?id=1">ajax加载新页面</a></li>
                <li><a href="#router3">内联的新页面</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="page" id='router3'>
          <header class="bar bar-nav">
            <a href="#" class="button button-link button-nav pull-left back" >
              <span class="icon icon-left"></span>
              返回
            </a>
            <h1 class='title'>router3</h1>
          </header>
          <div class="content">
            <div class="content-block">
              这是内联编写的页面，点击左上角的 <a href="#" class='back'>返回</a> 按钮返回上一页。
            </div>
          </div>
        </div>
        </div>

        <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
        <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
        <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

        <script>

        $(function () {
  
          $(document).on("pageInit", "#router2", function(e, id, page) {
            var path = location.pathname;
            var cId  = path.slice(path.lastIndexOf('/')+1);
            alert(cId);
          });

          $.init();
          
        });

        </script>


    </body>

</html>