<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" style="display: block;" id="aboutUs">
                <!--头部-->
                <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="__APP__/Home/User/userSetting" data-transition="slide-out">
                    <span class="icon icon-left"></span>
                   返回
                </a>
                    <h1 class="title">关于我们</h1>
                </header>
                <div class="content wrapAboutUs" id="">
                    <div>
                        <img src="__PUBLIC__/images/bg_sign.jpg" alt="萝卜头像" class="img-responsive">
                    </div>   
                    <section class="sResumeCont">
                        <div class="resumeTitle f12 line_h1">
                            <span class="bgTitle bg_orange f_left marg_right_10"></span>
                            <span>萝卜兼职简介</span>
                        </div>
                        <div class="resumeCont">
                            <ul class="f12 line_h2">
                                萝卜兼职是一款针对在校大学生，面向全国各大本专科高校，聚合大学周边兼职信息，分类集中发布，方便大学生兼职的信息平台。萝卜兼职立志向大学生提供最安全、靠谱的兼职岗位，满足企业短期用人需求；萝卜兼职立志打造诚实劳动，经济独立的大学生文化，并付诸全力维护大学生在兼职市场的合法权益。
                            </ul>
                        </div>   
                    </section>
                    <section class="sResumeCont">
                        <div class="resumeTitle f12 line_h1">
                            <span class="bgTitle bg_orange f_left marg_right_10"></span>
                            <span>联系我们</span>
                        </div>
                        <div class="resumeCont">
                            <ul class="f12 line_h2">
                                联系电话：<a href="tel:400-886-3334">400-886-3334</a><br />
                                联系地址：山东省威海市火炬高新技术开发区火炬路169-1号<br />
                                客服QQ（用户）：3237348839<br />
                                客服QQ（企业）：3251791608<br />
                                萝卜兼职群：298797352
                            </ul>
                        </div>   
                    </section>
                    <br/>
                </div>
            </div>
        </div>
        <include file="Common/footer"/>
        <include file="Common/tpl/tpl-userCenter" />
    </body>
    <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/home-user-center.js?t=1484274672336' charset='utf-8'></script>
</html>
