<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="feedBack">
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left back" href="__APP__/Home/User/userCenter" data-transition="slide-out">
                        <span class="icon icon-left"></span>
                       返回
                    </a>
                    <h1 class="title">意见反馈</h1>
                </header>
                <div class="content wrapPerfectInfo" id="wrapFeedBack">
                    <form method="post" class="form_feedback">
                        <div class="content-block f14 ">
                            <div class="row no-gutter">
                                <textarea placeholder="请输入您的反馈意见" class="feedBack" autofocus="false"></textarea>
                            </div>
                        </div>
                    </form>
                    <div class="content-block">
                        <div class="row">
                            <div class="col-100">
                                <a id="submitFB" href="javascript:void(0);" class="button button-big button_orange">提交</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Common/footer"/> 
        <include file="Common/tpl/tpl-userCenter" />        
        <script type='text/javascript' src='__PUBLIC__/source/debug/scripts/home-user-feedback.js' charset='utf-8'></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/home-user-center.js?t=1484274672336' charset='utf-8'></script>
    </body>
    <script>
      $(function(){
        var userId = 0;
        $.ajax({
            type: 'POST',
            url:APP_PATH+ '/Home/User/detail',
            dataType: 'json',
            async:false,
            timeout: 3000,
            context: $('#userData'),
            success:function(res){

                userId = res.data.id;
            },
            error:function(){
                server_error();
            }
        });
      });
    </script>
</html>