<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
<body>
    <div class="page-group">
        <div class="page page-current" style="display: block;" id="userResume">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="__APP__/Home/User/userCenter" data-transition="slide-out">
                    <span class="icon icon-left"></span>
                    返回
                </a>
                <h1 class="title">我的简历</h1>
            </header>
            <div class="content wrapUserResume" id="wrapUserResume">
            </div>
        </div>
    </div>
    <include file="Common/tpl/tpl-userResume" />
    <include file="Common/footer"/> 
    <script  type='text/javascript' src='__PUBLIC__/source/debug/scripts/home-user-resume.js?t=1484211825085' charset='utf-8'></script>
</body>
</html>

