<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>{$chief_info.realname}的二维码</title>
    <link rel="stylesheet" type="text/css" href="/Public/promot/css/base.css">
    <link rel="stylesheet" type="text/css" href="/Public/promot/css/jiazu.css">
</head>
<body class="code_body">
<!--<header>-->
    <!--<a onclick="window.history.back()" class="icon-font return">&#xe601;</a>-->
    <!--<a href="" class="icon-font right_nav" style="font-size:24px;">&#xe607;</a>-->
    <!--<span>{$promot_info.realname}的二维码</span>-->
<!--</header>-->
<div class="code_top">
    <img src="{$wx_info.headimgurl}" alt="">
    <div class="left">
        <p>我是{$chief_info.realname}</p>
        <p>我是<span>萝卜兼职头领</span></p>
    </div>
</div>
<div class="code_center">
</div>
<div class="code_bottom">
    <div class="des">
        期待与<span>130</span>所高校小伙伴，并肩作战的你！
    </div>
    <div class="code_ma">
        <img src="{$chief_info.qr_path}" alt="">
    </div>
    <div class="des">
        长按此图，识别图中二维码！
    </div>
    <div class="des">
        关注<span>萝卜兼职</span>,高薪岗位天天有，推广还能<span>赚钱</span>哦！
    </div>










    <script src="/Public/promot/js/jquery.js"></script>
    <script src="/Public/promot/js/promot.js"></script>

    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!--     <script>
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '{$jssdk.appId}', // 必填，公众号的唯一标识
            timestamp: {$jssdk.timestamp}, // 必填，生成签名的时间戳
            nonceStr: '{$jssdk.nonceStr}', // 必填，生成签名的随机串
            signature: '{$jssdk.signature}',// 必填，签名，见附录1
            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function(){
            var title = "{$promot_info.realname}的二维码";
            var linkurl = "http://www.luobojianzhi.com{:U('Promot/qrcode',array('f'=>think_encrypt($promot_info['id'])))}";
            var imgurl = "{$wx_info.headimgurl}";
            var desc = "关注萝卜兼职,高薪岗位天天有,推广还能赚钱哦!";
            //朋友圈
            wx.onMenuShareTimeline({
                title: desc, // 分享标题
                link: linkurl, // 分享链接
                imgUrl: imgurl, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            //分享给朋友
            wx.onMenuShareAppMessage({
                title: title, // 分享标题
                desc: desc, // 分享描述
                link: linkurl, // 分享链接
                imgUrl: imgurl, // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            //分享给qq
            wx.onMenuShareQQ({
                title: title, // 分享标题
                desc: desc, // 分享描述
                link: linkurl, // 分享链接
                imgUrl: imgurl, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
    </script> -->
</div>
</body>
</html>