<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>萝卜兼职</title>
    <link rel="stylesheet" type="text/css" href="/Public/promot/css/base.css">
    <link rel="stylesheet" type="text/css" href="/Public/promot/css/jiazu.css">
</head>
<body>
<!--<header>-->
    <!--<a onclick="window.history.back()" class="icon-font return">&#xe601;</a>-->
    <!--<span>家族成员（{$count}）</span>-->
<!--</header>-->
<div class="user_info">
    <div class="user-text">
    <php> 
    if($status == 0){
        echo '审核中！';
    } 
    elseif($status == 1){
        echo '您已经是萝卜头领了，请不要重复申请，谢谢！';
    }     
    elseif($status == 2)
    {
        echo '您的申请已经被拒绝！';
    }
    </php>
    </div>
</div>
</body>
</html>