<!DOCTYPE html>
<html>
    <head>
        
        <title>萝卜兼职</title>
        
        <include file="Common/header"/>

    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="bindZFBstatus">
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left back" href="__APP__/Home/Wallet/bindZFBdetailInfo">
                        <span class="icon icon-left"></span>
                        返回
                    </a>
                    <h1 class="title">绑定成功</h1>
                </header>
                <div class="content wrapBindZFBstatus" id="wrapBindZFBstatus">
                    <div class="zfbInfo pos_rela line_b f12 text-center">
                        1.<span id="descripChange">设置</span>支付密码&nbsp;>&nbsp;2.填写信息&nbsp;>&nbsp;<span class="fc_orange">3.绑定成功</span>   
                    </div>
                    
                    <div class="content-block pos_rela line_b text-center">
                        <div class="text-center fc_orange pos_iZFB">
                            <i class="iconf iconf-statusOk statusIcon"></i>
                            <br/>绑定成功
                        </div> 
                    </div>

                    <div class="content-block">
                        <div class="row">
                            <div class="col-100">
                                <a id="" href="__APP__/Home/Wallet/myWallet" class="button button-big button_orange">确定</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tip_info text-center" style="display: none;"></div>
            </div>
        </div>
        <include file="Common/footer" />
        <script type="text/javascript" src='__PUBLIC__/source/debug/constVal/constVal.js' charset='utf-8'></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/home-wallet-myWallet.js?t=1482373334544' charset='utf-8'></script>
    </body>
</html>