<!DOCTYPE html>
<html>
    <head> 
        <title>萝卜兼职</title>  
        <include file="Common/header"/>
        <include file="Common/tpl/tpl-userIncomeDetail" />
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="spreadIncome">
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left back" href="__APP__/Home/Wallet/chiefIncome">
                        <span class="icon icon-left"></span>
                        返回
                    </a>
                    <h1 class="title">推广收益详情</h1>
                </header>
                <div class="content infinite-scroll" data-distance="100">
                    <ul id="spreadIncomeList">
                        <!-- to be filled -->
                    </ul>
                    <div class="infinite-scroll-preloader">
                        <div class="preloader"></div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Common/tpl/tpl-userCenter" />
        <include file="Common/footer"/>
        <script type="text/javascript" src='__PUBLIC__/source/debug/constVal/constVal.js' charset='utf-8'></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/home-wallet-myWallet.js?t=1482373334544' charset='utf-8'></script>
    </body>
</html>