<!DOCTYPE html>
<html>
    <head>
        
        <title>萝卜兼职</title>
        
        <include file="Common/header"/>
        <include file="Common/tpl/tpl-userIncomeDetail" />
    </head>
    <body>
    <div class="page-group">
        <div class="page page-current" style="display: block;" id="userIncomeDetail">
            <!--头部-->
            <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="__APP__/Home/Wallet/myWallet" data-transition="slide-out">
                <span class="icon icon-left"></span>
               返回
            </a>
                <h1 class="title">收支明细</h1>
            </header>
            <div class="content infinite-scroll infinite-scroll-bottom" id="">
                <ul class="userIncomeList">
                </ul> 
                <div class="infinite-scroll-preloader" style="display: none;">
                    <div class="preloader"></div>
                </div>  
            </div>    
        </div>   
    </div>
    
    <include file="Common/footer"/> 
    <script type="text/javascript" src='__PUBLIC__/source/debug/constVal/constVal.js' charset='utf-8'></script>
    <script  type='text/javascript' src='__PUBLIC__/source/debug/scripts/home-wallet-myWallet.js?t=1487059234162' charset='utf-8'></script>
    </body>

</html>

