<!DOCTYPE html>
<html>
    <head>
        
        <title>萝卜兼职</title>
        
        <include file="Common/header"/>
        <include file="Common/tpl/tpl-userIncomeDetail" />
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" style="display: block;" id="withDrawCash">
                <!--头部-->
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left back" href="__APP__/Home/Wallet/myWallet" data-transition="slide-out">
                        <span class="icon icon-left"></span>
                       返回
                    </a>
                    <h1 class="title">提现</h1>
                </header>
                <div class="content wrapPerfectInfo" id="wrapUserBaseInfo">
                    <div class="content-block f14 wrapRegCont">
                        <div class="row no-gutter">
                            <div class="row no-gutter line_b">
                                <div class="col-25 text-left">
                                    提现金额
                                </div>
                                <div class="col-75 line_l">
                                    <input  id="zfbNum" class="form-control gttv" type="number" name="zfbNum" placeholder="请输入整数（不小于60）" />
                                </div>
                            </div>
                            <div class="row no-gutter line_b">
                                <div class="col-25 text-left">
                                    支付密码
                                </div>
                                <div class="col-75 line_l">
                                    <input id="zfbPwd" class="form-control gttv" type="password" name="password" placeholder="请输入6位纯数字支付密码" />
                                </div>
                            </div>
                            <div class="row no-gutter line_b">
                                <div class="col-25 text-left">
                                    支付宝账号
                                </div>
                                <div class="col-75 line_l">
                                    <input id="zfb" class="form-control gttv" type="text" name="text" placeholder="您的支付宝账号" disabled="true" />
                                </div>
                            </div>
                            <div class="row no-gutter line_b">
                                <div class="col-25 text-left">
                                    姓名
                                </div>
                                <div class="col-75 line_l">
                                    <input id="zfbName" class="form-control gttv" type="text" name="text" placeholder="您的支付宝真实姓名" disabled="true" />
                                </div>
                            </div>
                            <div class="bakTx f12 fc_gray marg_top_10 text-center" style="display: none;">
                                <span class="fc_orange">请您在<b class="f14"> 每周二 </b>进行提现申请,提现后 48小时 到账.(法定工作日).</span>
                            </div>
                            <div class="bakTx f12 fc_gray marg_top_10 text-center">
                                <span class="fc_orange">48小时到账（法定工作日）</span>
                            </div>
                        </div>
                        <div class="content-block">
                            <div class="row">
                                <div class="col-100">
                                    <a id="btnWithDraw" href="#" class="button button-big button_orange">确认提现</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <include file="Common/footer"/> 
    <script type="text/javascript" src='__PUBLIC__/source/debug/constVal/constVal.js' charset='utf-8'></script>
    <script  type='text/javascript' src='__PUBLIC__/source/debug/scripts/home-wallet-myWallet.js?t=1487059234162' charset='utf-8'></script>
    </body>
</html>

<script>             

   

</script>