<!DOCTYPE>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header" />
        <link rel="stylesheet" href="/Public/source/debug/styles/biz.css">
        <style>
            html, body {
                background-color: #FEDE47;
                font-size: calc(100vw / 7.5)!important;
            }
        </style>
    </head>
    <body>
    	<div class="bizFindPT" id="bizFindPT">
            <header>萝卜兼职->靠谱的大学生兼职平台</header>
            <section>
                <h3>为商家提供&thinsp;:</h3>
                <article>
                    <div>免<br>费<br>项<br>目</div>
                    <ul>
                        <li>①免费的兼职信息发布平台；</li>
                        <li>②免费的兼职报名短信提醒；</li>
                        <li>③免费企业宣传平台。</li>
                    </ul>
                </article>
                <article>
                    <div>收<br>费<br>项<br>目</div>
                    <ul>
                        <li>①确保100%人员到岗，解决"放鸽子"问题； </li>
                        <li>②岗前培训，解决兼职不专业的问题；</li>
                        <li>③微信公众号广告服务，解决宣传无门路的问题；</li>
                        <li>④专业领队，解决企业"盯人难"的问题。</li>
                    </ul>
                </article>
            </section>
            <section>
                <form action="" enctype="multipart/form-data">
                    <fieldset>
                        <legend><img src="/Public/images/fillin.png" alt=""></legend>
                        <div class="wrapform">
                            <label for="linkman">联系人<span style="color:red">*</span></label>
                            <input name="linkman" id="linkman" type="text">
                            <label for="phone">电话<span style="color:red">*</span></label>
                            <input name="phone" id="phone" type="tel">
                            <label for="license">营业执照<span style="color:red">*</span></label>
                            <div class="upload">
                                <input id="license" name="license" accept="image/png,image/jpg,image/jpeg" type="file">上传
                            </div>
                        </div>
                        <img src="/Public/images/submit.png" class="btn_sub">
                    </fieldset>
                </form>
            </section>
            <footer>
                <img src="/Public/images/btn_call.png" class="btn_call">
                <img src="/Public/images/btn_pt.png" class="btn_pt">
            </footer>
            <include file="Common/footer" />

    	</div>        
    </body>
    <script src="__PUBLIC__/source/debug/scripts/Company-league-formSubmit.js"></script>
</html>
