<!DOCTYPE html>
<html>
    <head>
 
        <title>萝卜兼职</title>

        <include file="Common/header"/>
        
    </head>
    <body>
        <div class="page" style="display: block;">
            <!--头部-->
            <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="#" data-panel="#">
                <span class="icon icon-left"></span>
               返回
            </a>
                <h1 class="title">企业简介</h1>
            </header>
            <div class="content wrapUserResume" id="">
                <div class="bgContainer bg_orange">
                    <div>
                        <dl class="row paddForDl">
                            <dt class="col-20 paddForDt f_left">
                                <div class="wrapUserPhoto">
                                    <img src="/Public/images/logo.png" alt="默认用户头像" class="img-responsive">
                                </div>
                            </dt>
                            <dd class="col-50 f_left f12">
                                <p class="line_h2">用户名</p>
                                <p>13051093988</p>
                            </dd>
                            <dd class="col-33 f_left f12 text-right" style="display: block;">
                                修改头像&nbsp;&nbsp;<span class="icon icon-right"></span>
                            </dd>
                        </dl>
                    </div>
                </div>   
                <section class="sResumeCont">
                    <div class="resumeTitle f12 line_h1">
                        <span class="bgTitle bg_orange f_left marg_right_10"></span>
                        <span>基本信息</span>
                        <a href="" class="btnTitle f_right" style="display: none;">
                            修改&nbsp;&nbsp;<i class="icon icon-right f10"></i>
                        </a>
                    </div>
                    <div class="resumeCont">
                        <ul class="f12">
                            <li class="row no-gutter line_h2">
                                <div class="col-25 fc_lightGray">
                                    企业名称：
                                </div>
                                <div class="col-75">
                                    威海捷城信息科技有限公司
                                </div>
                            </li>
                            <li class="row no-gutter line_h2">
                                <div class="col-25 fc_lightGray">
                                    所在城市：
                                </div>
                                <div class="col-75">
                                    山东省威海市
                                </div>
                            </li>
                            <li class="row no-gutter line_h2">
                                <div class="col-25 fc_lightGray">
                                    详细地址：
                                </div>
                                <div class="col-75">
                                    火炬路139号北洋孵化器304室
                                </div>
                            </li>
                            <li class="row no-gutter line_h2">
                                <div class="col-25 fc_lightGray">
                                    证件信息：
                                </div>
                                <div class="col-75">
                                    <img src="/Public/images/upLoad.png" class="showZImg  f_left" border="0" alt="营业执照或法人身份证(正面)" title="营业执照或法人身份证(正面)" />
                                </div>
                            </li>
                        </ul>
                    </div>   
                </section>
                <section class="sResumeCont">
                    <div class="resumeTitle f12 line_h1">
                        <span class="bgTitle bg_orange f_left marg_right_10"></span>
                        <span>详细信息</span>
                        <a href="" class="btnTitle f_right">
                            修改&nbsp;&nbsp;<i class="icon icon-right f10"></i>
                        </a>
                    </div>
                    <div class="resumeCont">
                        <ul class="f12">
                            <li class="row no-gutter line_h2">
                                <div class="col-25 fc_lightGray">
                                    联系人
                                </div>
                                <div class="col-75">
                                    刘经理
                                </div>
                            </li>
                            <li class="row no-gutter line_h2">
                                <div class="col-25 fc_lightGray">
                                    联系手机：
                                </div>
                                <div class="col-75">
                                    13306317101
                                </div>
                            </li>
                            <li class="row no-gutter line_h2">
                                <div class="col-25 fc_lightGray">
                                    企业简介：
                                </div>
                                <div class="col-75">
                                    萝卜兼职是一款针对在校大学生，面向全国各大本专科高校，聚合大学周边兼职信息，分类集中发布，方便大学生兼职的信息平台。萝卜兼职立志向大学生提供最安全、靠谱的兼职岗位，满足企业短期用人需求。
                                </div>
                            </li>
                        </ul>
                    </div>   
                </section>
            </div>
        </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

    </body>
</html>

<script>


    $(document).ready(function () {
        
        

    });

</script>