<!DOCTYPE html>
<html>
    <head>
        
        <title>萝卜兼职</title>

        <include file="Common/header"/>
        
    </head>
    <body>
        <div class="page" style="display: block;">
            <!--头部-->
            <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="#" data-panel="#">
                <span class="icon icon-left"></span>
               返回
            </a>
                <h1 class="title">意见反馈</h1>
            </header>
            <div class="content wrapPerfectInfo" id="wrapFeedBack">
                <!-- <div>
                    <img src="/Public/images/bg_sign.jpg" alt="头部背景图片" class="img-responsive">
                </div>  -->  
                <form action="" method="post" class="form_feedback">
                    <div class="content-block f14 ">
                        <div class="row no-gutter">
                            <textarea placeholder="请输入您的反馈意见" class="feedBack" autofocus="false"></textarea>
                        </div>
                    </div>
                </form>
                <div class="content-block">
                    <div class="row">
                        <div class="col-100">
                            <a id="" href="#" class="button button-big button_orange">提交</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

    </body>
</html>

<script>
    $(document).ready(function () {
        
        

    });

</script>