<!DOCTYPE html>
<html>
  <head>
    
    <title>萝卜兼职</title>
    
    <include file="Common/header"/>

  </head>
  <body>
    <div class="page-group">
        <div class="page page-current" id="bizJobDetail">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left" href="#index" data-panel='#chooseCity'>
                    <span class="icon icon-left"></span>
                   返回
                </a>
                <h1 class='title'>兼职详情</h1>
            </header>
            <div class="content native-scroll" id="jobDetailScroll">
                <!-- 职位详情 -->
                <div class="wrapJobDetail">
                    <section class="marg_bottom_10">
                        <div class="line_b pos_rela">
                            <p class="fc_orange line_h1">服务员职位标题</p>  
                            <p class="f12 fc_lightGray line_h2">
                                <i class="iconf iconf-clock f12"></i><span class="marg_left_10 marg_right_10">2015.01.01</span>
                                <i class="iconf iconf-eyes f12"></i><span class="marg_left_10">201</span>
                            </p> 
                        </div>
                        <div class="f14">
                            <p class="row no-gutter line_h2">
                                <span class="col-25 fc_lightGray">发布机构：</span>
                                <span class="col-75 tx_ellips">山大东门鸡公煲</span>
                            </p>
                            <p class="row no-gutter line_h1">
                                <span class="col-25 fc_lightGray">招聘人数：</span>
                                <span class="col-75 tx_ellips">5人</span>
                            </p>
                            <p class="row no-gutter line_b pos_rela line_h2">
                                <span class="col-25 fc_lightGray">工资待遇：</span>
                                <span class="col-75 tx_ellips">14元/小时（日结）</span>
                            </p>
                            <p class="row no-gutter line_b pos_rela line_h22">
                                <span class="col-25 fc_lightGray">工作地点：</span>
                                <span class="col-40 tx_ellips">威高广场附近</span>
                                <span class="col-33 tx_ellips f12 fc_lightGray" style="margin-top: .15rem;float: right;text-align: right;">点击查看地图&nbsp;&nbsp;></span>
                            </p>
                            <p class="fc_orange line_h2">
                                <i class="iconf iconf-notice f14"></i><span class="iconf f12 marg_left_10">凡是收费的兼职信息，请谨慎选择！</span>
                                
                            </p>
                        </div>
                    </section> 
                    <section class="marg_bottom_10">
                        <div class="f14">
                            <p class="row no-gutter line_b pos_rela line_h2">
                                <span class="col-25 fc_lightGray">工作日期：</span>
                                <span class="col-75 tx_ellips">2014年04月16日-30日</span>
                            </p>
                            <p class="row no-gutter line_h2">
                                <span class="col-25 fc_lightGray">上班时段：</span>
                                <span class="col-75 tx_ellips">9:00-17:00</span>
                            </p>
                        </div>
                         
                    </section> 
                    <section class="marg_bottom_10">
                        <div class="line_b pos_rela fc_orange line_h1 padd_bottom_10">
                            <i class="iconf iconf-edit"></i><span class="iconf marg_left_10">职位描述</span>
                        </div>
                        <div class="f12 fc_lightGray marg_top_10">
                            威海国际商务大厦24号（周天）婚宴现场需要  招聘 8名女生，3名男生服务人员。<br>工作要求：男生有黑色皮鞋，黑色裤子  女生有黑色鞋子（布鞋，比较舒服）黑色裤子  没有装备的就不要申请了（没有布鞋可以买 20元左右，皮鞋没有脚气的话，借一下。男生也可以买一双好的皮鞋，以后工作也要用。想做兼职装备可以留着，萝卜酒店招聘季会推出大量酒店岗位。）<br>工作时间：10:30-14:30<br>薪资待遇：13元/小时  包午餐<br>工作地点：环翠区海滨北路106号（竹岛大润发东门对面）
                        </div>
                    </section> 
                    <section class="marg_bottom_10">
                        <div class="f14">
                            <p class="row no-gutter line_b pos_rela line_h2">
                                <span class="col-25 fc_lightGray">报名截止：</span>
                                <span class="col-75 tx_ellips">2014年04月16日 00:00</span>
                            </p>
                            <p class="fc_orange line_h2"  style="display: none;">
                                <i class="iconf iconf-notice f14"></i><span class="iconf f12 marg_left_10">联系人、手机号发送申请后可以查看！</span>
                            </p>
                            <!-- 发送申请前，隐藏掉 -->
                            <p class="row no-gutter line_b pos_rela line_h2" style="display: block;">
                                <span class="col-25 fc_lightGray">联系人：</span>
                                <span class="col-75 tx_ellips">李小姐</span>
                            </p>
                            <p class="row no-gutter line_h2" style="display: block;">
                                <span class="col-25 fc_lightGray">联系电话：</span>
                                <span class="col-75 tx_ellips"><a href="tel:13306317101"></a>13306317101</span>
                            </p>
                        </div>
                    </section> 
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
 <script>
    $(function() {
        // var Zepto = jQuery;
        $.config = {
            autoInit : true
        }

        // $(".swiper-container").swiper(config);//以上代码均未调通

        $(".swiper-container").swiper();

        // 随机生成兼职列表的图标颜色
        setColor();
        function setColor() {
            var colors = ["#E4007F", "#00A0E9", "#F39800", "#996C33","#a71a35","#258795"];
            $(".iType").each(function () {
                var index = Math.floor(Math.random() * colors.length);
                setColor = colors[index];
                $(this).attr("style", "border:1px solid " + setColor + ";color:" + setColor);
            })
        }
    });
        
</script>
 <script>       
    // $(function () {
    //     $.init();
    // });
    // $(document).on("click", ".chooseCity", function() {
    //     $.openPanel("#chooseCity");
    // });
    // $(document).on("click", ".toIndex", function() {
    //     $.closePanel("#index");
    // });
</script>
</html>