<!DOCTYPE html>
<html>
  <head>

    <title>萝卜兼职</title>
    
    <include file="Common/header"/>

  </head>
  <body>
    <div class="page-group">
        <div class="page page-current" id="payUserList_toPay">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left" href="#index" data-panel='#'>
                    <span class="icon icon-left"></span>
                   返回
                </a>
                <h1 class='title'>人员信息</h1>
            </header>
            <div class="titleCheck" data-offset="44">
                <div id="s1" data-status="1" class="text-right">全选</div>
                <input id="checkAll" type="checkbox" name="" class="" />
            </div>
            <div class="resetConBlock">
                <div class="content-block">
                    <div class="tabs">
                        <div id="tab_content" class="tab active">
                            <div class="content-block content infinite-scroll infinite-scroll-bottom"  data-distance="10">
                                <div class="wrapJob">
                                    <ul class="jobList"> 
                                        <li class="jobLi" iindex="jobLi01" id="1">
                                            <a href="javascript:void(0);">
                                                <span class="iType" style="background: url('/Public/images/logo.png') no-repeat scroll 0 0 #fff; background-size: contain; border: 0;"></span>
                                                <div class="row no-gutter">
                                                    <div class="col-80 tx_ellips">
                                                        孙鹏磊
                                                    </div>
                                                    <div class="col-20 text-center">
                                                        <input type="checkbox" name="items" value="1" class="pos_abs" style="float: none; margin-top: 20px; position: absolute;    margin-right: 0px; display: inline-block; right: 20px;" />
                                                    </div>
                                                </div>
                                                <div class="row no-gutter">
                                                    <div class="col-66 fc_lightGray">
                                                        <p class="f12 pos_rela">
                                                            <span class="iconf iconf-location"></span>
                                                            <span class="marg_left_10 tx_ellips pos_ab">山东大学(威海校区)</span>
                                                        </p>
                                                        <p class="f12 pos_rela">
                                                            <span class="iconf iconf-tel"></span>
                                                            <span class="marg_left_10 pos_ab">13306317101</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-33 text-right" style="display: none;">
                                                        <strong class="f12">电话咨询</strong>
                                                        <small class="fc_lightGray">元/天</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="jobLi" iindex="jobLi01" id="2">
                                            <a href="javascript:void(0);">
                                                <span class="iType" style="background: url('/Public/images/logo.png') no-repeat scroll 0 0 #fff; background-size: contain; border: 0;"></span>
                                                <div class="row no-gutter">
                                                    <div class="col-80 tx_ellips">
                                                        孙鹏磊
                                                    </div>
                                                    <div class="col-20 text-center">
                                                        <input type="checkbox" name="items" value="2"  class=" pos_abs" style="float: none; margin-top: 20px; position: absolute;    margin-right: 0px; display: inline-block; right: 20px;" />
                                                    </div>
                                                </div>
                                                <div class="row no-gutter">
                                                    <div class="col-66 fc_lightGray">
                                                        <p class="f12 pos_rela">
                                                            <span class="iconf iconf-location"></span>
                                                            <span class="marg_left_10 tx_ellips pos_ab">山东大学(威海校区)</span>
                                                        </p>
                                                        <p class="f12 pos_rela">
                                                            <span class="iconf iconf-tel"></span>
                                                            <span class="marg_left_10 pos_ab">13306317101</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-33 text-right" style="display: none;">
                                                        <strong class="f12">电话咨询</strong>
                                                        <small class="fc_lightGray">元/天</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="jobLi" iindex="jobLi01"  id="3">
                                            <a href="javascript:void(0);">
                                                <span class="iType" style="background: url('/Public/images/logo.png') no-repeat scroll 0 0 #fff; background-size: contain; border: 0;"></span>
                                                <div class="row no-gutter">
                                                    <div class="col-80 tx_ellips">
                                                        孙鹏磊
                                                    </div>
                                                    <div class="col-20 text-center">
                                                        <input type="checkbox" name="items" value="3" class=" pos_abs" style="float: none; margin-top: 20px; position: absolute;    margin-right: 0px; display: inline-block; right: 20px;" />
                                                    </div>
                                                </div>
                                                <div class="row no-gutter">
                                                    <div class="col-66 fc_lightGray">
                                                        <p class="f12 pos_rela">
                                                            <span class="iconf iconf-location"></span>
                                                            <span class="marg_left_10 tx_ellips pos_ab">山东大学(威海校区)</span>
                                                        </p>
                                                        <p class="f12 pos_rela">
                                                            <span class="iconf iconf-tel"></span>
                                                            <span class="marg_left_10 pos_ab">13306317101</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-33 text-right" style="display: none;">
                                                        <strong class="f12">电话咨询</strong>
                                                        <small class="fc_lightGray">元/天</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                    <div class="content-block" style="margin-top: 2rem; padding: .85rem;">
                                        <div class="row">
                                            <div class="col-100">
                                                <a id="btnPayUserList" href="#" class="button button-big button_orange">发放工资</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
 <script>
    $(function() {
        // var Zepto = jQuery;
        $.config = {
            autoInit : true
        }


        // 新加全选按钮交互
        $("#checkAll").click(function () {
            if ($(this).is(":checked")) {
                $("input[name=items]").prop("checked", true);
            } else {
                $("input[name=items]").prop("checked", false);
            }
        });
        // 获取选中items的id
        $("#btnPayUserList").click(function (){
            if($("input[name='items']:checked").length == 0){
                alert('您还没有勾选要发放的人员信息');
            }else{
                var sValue = '';
                $("input[name='items']:checked").each(function () {
                    sValue += this.value +',';
                });
                alert(sValue);
            }
        });

        
    });
        
</script>
 <script>       
    // $(function () {
    //     $.init();
    // });
    // $(document).on("click", ".chooseCity", function() {
    //     $.openPanel("#chooseCity");
    // });
    // $(document).on("click", ".toIndex", function() {
    //     $.closePanel("#index");
    // });
</script>
</html>