<script id='biz-center-top-info-tpl' type='text/html'>
    <dl class="row paddForDl">
        <dt class="col-20 paddForDt f_left">
            <div class="wrapUserPhoto">
                <img src="{{(logo!=''&&logo!=null)?logo:'__PUBLIC__/images/logo.png'}}" alt="默认用户头像" class="img-responsive">
            </div>
        </dt>
        <dd class="col f_left f12" style="min-width: 42%; width: 42%; margin-left: 4%;">
            <p class="line_h2">{{username}}</p>
            <p>{{phone}}</p>
        </dd>
        <dd class="col-33 f_left f12 text-right" id="bizInfo-upload" style="display: block;">
            
        </dd>
    </dl>
</script>