<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
        <div class='page-group'>
            <div class="page page-current" id="sendJob">
                <!--头部-->
                <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="__APP__/Company/User/bizCenter" data-transition="slide-out">
                    <span class="icon icon-left"></span>
                   返回
                </a>
                    <h1 class="title">发布兼职</h1>
                </header>
                <div class="content wrapPerfectInfo" id="">
                    <form action="" method="post" class="form_perfectInfo">
                    </form>
                    <div class="content-block">
                        <div class="row">
                            <div class="col-100">
                                <a id="doSendJob" href="#" class="button button-big button_orange">发布</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Common/footer"/>
        <include file="Common/tpl/tpl-sendJob" />
        
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/company-job-sendJob.js' charset='utf-8'></script>

    </body>
</html>

