<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
        <script id="scroll-base-tpl" type="text/html">
                <div class="content-block content infinite-scroll infinite-scroll-bottom"  data-distance="10">
                    <div class="wrapJob">
                        <ul class="jobList"></ul>
                        <div class="infinite-scroll-preloader">
                            <div class="preloader"></div>
                        </div>
                    </div>
                    <footer class="text-center padd_20">
                        <p class="fc_orange f16">萝卜兼职网</p>
                        <p class="fc_orange f10">www.luobojianzhi.com</p>
                        <p class="f10">最靠谱的大学生兼职平台</p>
                    </footer>                
                </div>
        </script>
        <script id="tab1-tpl" type="text/html">
            {{each dataList as user i}}
                <li class="jobLi" iindex="jobLi{{i}}">
                    <a href="tel:{{user.phone}}">
                        {{if user.headimgurl == ' ' || user.headimgurl == undefined }}
                            <span class="iType" style="background: url('/Public/images/logo.png') no-repeat scroll 0 0 #fff; background-size: cover; border: 0;"></span>
                        {{else}}
                            <span class="iType" style="background: url('{{user.headimgurl}}') no-repeat scroll 0 0 #fff; background-size: cover; border: 0;"></span>
                        {{/if}}
                        <div class="row no-gutter">
                            {{if user.realname == '' || user.realname == undefined}}
                                <div class="col-80 tx_ellips">未填写真实姓名</div>
                            {{else}}
                                <div class="col-80 tx_ellips">{{user.realname}}</div>
                            {{/if}}
                            <div class="col-20 text-center">
                                <div class="wrapTel iconf iconf-tel02">
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-66 fc_lightGray">
                                <p class="f12 pos_rela">
                                    <span class="iconf iconf-location"></span>
                                    <span class="marg_left_10 tx_ellips pos_ab">{{user.province}}{{user.city}}{{user.region}}</span>
                                </p>
                                <p class="f12 pos_rela">
                                    <span class="iconf iconf-tel"></span>
                                    <span class="marg_left_10 pos_ab">{{user.phone}}</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="pos_rela text-right cancelFav">
                    <span class="f12 userYes marg_right_10 btnCancelFav bindBtnIsPass" data-id="{{user.id}}" data-status='2'>通过</span>
                    <span class="f12 btnCancelFav bindBtnIsPass" data-id="{{user.id}}"  data-status='3'>拒绝</span>
                </li>  
            {{/each}}
        </script>
        <script id="tab2-tpl" type="text/html">
            {{each dataList as user i}}
                <li class="jobLi" iindex="jobLi{{i}}">
                    <a href="tel:{{user.phone}}">
                        {{if user.headimgurl == ' ' || user.headimgurl == undefined }}
                            <span class="iType" style="background: url('/Public/images/logo.png') no-repeat scroll 0 0 #fff; background-size: cover; border: 0;"></span>
                        {{else}}
                            <span class="iType" style="background: url('{{user.headimgurl}}') no-repeat scroll 0 0 #fff; background-size: cover; border: 0;"></span>
                        {{/if}}
                        <div class="row no-gutter">
                            {{if user.realname == '' || user.realname == undefined}}
                                <div class="col-80 tx_ellips">未填写真实姓名</div>
                            {{else}}
                                <div class="col-80 tx_ellips">{{user.realname}}</div>
                            {{/if}}
                            <div class="col-20 text-center">
                                <div class="wrapTel iconf iconf-tel02">
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-66 fc_lightGray">
                                <p class="f12 pos_rela">
                                    <span class="iconf iconf-location"></span>
                                    <span class="marg_left_10 tx_ellips pos_ab">{{user.province}}{{user.city}}{{user.region}}</span>
                                </p>
                                <p class="f12 pos_rela">
                                    <span class="iconf iconf-tel"></span>
                                    <span class="marg_left_10 pos_ab">{{user.phone}}</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="pos_rela text-right cancelFav">
                    <span class="f12 userYes marg_right_10 btnCancelFav bindBtnIsDone" data-id="{{user.id}}"  data-status='4'>完成</span>
                    <span class="f12 btnCancelFav bindBtnIsDone" data-id="{{user.id}}"  data-status='5'>未完成</span>
                </li> 
            {{/each}}
        </script>
        <script id="tab3-tpl" type="text/html">
            {{each dataList as user i}}
                <li class="jobLi" iindex="jobLi{{i}}">
                    <a href="tel:{{user.phone}}">
                        {{if user.headimgurl == ' ' || user.headimgurl == undefined }}
                            <span class="iType" style="background: url('/Public/images/logo.png') no-repeat scroll 0 0 #fff; background-size: cover; border: 0;"></span>
                        {{else}}
                            <span class="iType" style="background: url('{{user.headimgurl}}') no-repeat scroll 0 0 #fff; background-size: cover; border: 0;"></span>
                        {{/if}}
                        <div class="row no-gutter">
                            {{if user.realname == '' || user.realname == undefined}}
                                <div class="col-80 tx_ellips">未填写真实姓名</div>
                            {{else}}
                                <div class="col-80 tx_ellips">{{user.realname}}</div>
                            {{/if}}
                            <div class="col-20 text-center">
                                <div class="wrapTel">
                                    {{if user.cstatus == 5}}
                                        <span>未完成</span>
                                    {{else}}
                                        <span></span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutter">
                            <div class="col-66 fc_lightGray">
                                <p class="f12 pos_rela">
                                    <span class="iconf iconf-location"></span>
                                    <span class="marg_left_10 tx_ellips pos_ab">{{user.province}}{{user.city}}{{user.region}}</span>
                                </p>
                                <p class="f12 pos_rela">
                                    <span class="iconf iconf-tel"></span>
                                    <span class="marg_left_10 pos_ab">{{user.phone}}</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </li>  
            {{/each}}
        </script>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="applyUserList">
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left back" href="__CONTROLLER__/applyList" data-transition="slide-out">
                        <span class="icon icon-left"></span>
                       返回
                    </a>
                    <h1 class='title'>人员信息</h1>
                </header>
                <div class="buttons-tab fixed-tab" data-offset="44">
                    <div id="s1" data-status="1" class="tab-link button line_r active">待通过</div>
                    <div id="s2" data-status="2" class="tab-link button line_r">待完成</div>
                    <div id="s3" data-status="4" class="tab-link button">已完成</div>
                </div>
                <div class="resetConBlock">
                    <div class="content-block">
                        <div class="tabs">
                            <div id="tab_content" class="tab active">
                                <div class="content-block content infinite-scroll infinite-scroll-bottom"  data-distance="10">
                                    <div class="wrapJob">
                                        <ul class="jobList"></ul>
                                        <div class="infinite-scroll-preloader">
                                            <div class="preloader"></div>
                                        </div>
                                    </div>
                                    <footer class="text-center padd_20">
                                        <p class="fc_orange f16">萝卜兼职网</p>
                                        <p class="fc_orange f10">www.luobojianzhi.com</p>
                                        <p class="f10">最靠谱的大学生兼职平台</p>
                                    </footer>
                                </div>
                            </div>
                        </div>
                        
                    </div> 
                </div>
            </div>
        </div>
        
        <include file="Common/footer" />

        <script type="text/javascript">
            $(function(){
                //绑定是否通过事件
                function bindIsPass(){
                    $('.bindBtnIsPass').on('click', function(e){
                        var id = $(this).data('id');
                        var statusId = $(this).data('status');
                        var self = this;
                        $.ajax({
                            type: 'GET',
                            url: APP_PATH+'/Company/Apply/setStatus',
                            data: {
                                'id': id,
                                'status': statusId
                            },
                            dataType: 'json',
                            timeout: 3000,
                            success: function(data){
                                if(data.code){
                                    opt_success();
                                    $(self).parent().prev('.jobLi').remove();
                                    $(self).parent().remove();
                                }else{
                                    server_error();
                                }
                            },
                            error: function(xhr, type){
                                server_error();
                            }
                        })
                    });
                };
                // 绑定是否完成事件
                function bindIsDone(){
                    $('.bindBtnIsDone').on('click', function(e){
                        var id = $(this).data('id');
                        var statusId = $(this).data('status');
                        var self = this;
                        $.ajax({
                            type: 'GET',
                            url: APP_PATH+'/Company/Apply/setStatus',
                            data: {
                                'id': id,
                                'status': statusId
                            },
                            dataType: 'json',
                            timeout: 3000,
                            success: function(data){
                                if(data.code){
                                    opt_success();
                                    $(self).parent().prev('.jobLi').remove();
                                    $(self).parent().remove();
                                }else{
                                    server_error();
                                }
                            },
                            error: function(xhr, type){
                                server_error();
                            }
                        })
                    });
                };    

                //需获取从哪条投递记录进来的职位id
                var path = location.pathname;
                var jobId = path.substring(path.lastIndexOf("/")+1);
                // Step1: 初始化"待通过"列表，status:1.待通过；2.待完成；3.已完成
                var status = 1;
                var pageSize = 10;
                var currPage = 1;
                var loading = false;
                var maxItems = 100;
                var sId = 1; //默认展示第一个tab下对应的模板内容；

                function addItems() {
                    $.ajax({
                        type: 'GET',
                        url: APP_PATH+'/Company/Apply/filter',
                        data: { 
                            "currPage": currPage, 
                            "pageSize": pageSize,
                            "jobId": jobId,
                            "status": status
                        },
                        dataType: 'json',
                        timeout: 3000,
                        success: function(data){
                            if(data.code) {
                                maxItems = data.data.total;
                                if(maxItems <= 0) return false;

                                var data = { "dataList": data.data.data };

                                var html = template('tab'+sId+'-tpl', data);
                                $(".jobList").append(html);

                                if(maxItems < pageSize) {
                                    $('.infinite-scroll-preloader').hide();
                                }
                                loading = false;
                                currPage ++;
                                console.log('nextPage'+currPage);
                                if(sId ==1){
                                    bindIsPass(); //是否通过
                                }else {
                                    bindIsDone(); //是否完成
                                }
                            } else {
                                $.toast("(^_^) 木有更多信息啦！", 1000);
                                $.detachInfiniteScroll($('.infinite-scroll'));
                                $('.infinite-scroll-preloader').remove();
                            }
                        },
                        error: function(xhr, type){
                            server_error();
                            $.detachInfiniteScroll($('.infinite-scroll'));
                            $('.infinite-scroll-preloader').remove();
                        }
                    });
                }

                // 注册'infinite'事件处理函数
                $(document).on('infinite', '.infinite-scroll-bottom', function() {
                    if (loading) return;
                    loading = true;
                    setTimeout(function() {
                        if (maxItems <= (currPage-1) * pageSize) {
                            $.toast("(^_^) 木有更多人员信息啦！", 1000);
                            $.detachInfiniteScroll($('.infinite-scroll'));
                            $('.infinite-scroll-preloader').hide();
                            return;
                        }
                        addItems();
                        $.refreshScroller();
                    }, 100);
                });      
                addItems();  

                $(document).on("pageInit", "#applyUserList", function(e, id, page) {
                    // 绑定选择菜单事件
                    $('.tab-link').off('click').on('click', function (e) {
                        var str = this.id;
                        var tmpId = str.substring(str.length -1); //对应元素Id,非statusId

                        var statusId = $(this).data("status"); //对应tab的statusId

                        // Tab样式切换
                        $(this).siblings().removeClass('active');
                        $(this).addClass('active');
                        // Content样式切换
                        $('#tab_'+sId).addClass('active');
                        $('#tab_'+sId).siblings().removeClass('active');

                        // inited1:注销绑定滚动监听/无限加载事件/加载提示符
                        $(document).off('infinite');
                        $.detachInfiniteScroll($('.infinite-scroll'));
                        $('.infinite-scroll-preloader').remove();
                        // inited2: 重绘DOM元素
                        $('.content').remove();
                        $('#tab_content').html(template('scroll-base-tpl', {}));
                        $.refreshScroller();
                        // inited3: 分页参数
                        currPage = 1;
                        sId = tmpId; //通过sId,查找对应模板文件填充到content里
                        status = statusId;

                        addItems();

                        $(document).on('infinite', '.infinite-scroll-bottom', function() {
                            if (loading) return;
                            loading = true;
                            setTimeout(function() {
                                var totalPage = Math.ceil(maxItems/pageSize); 
                                 if (currPage > totalPage){
                                    $.toast("(^_^) 木有更多人员信息啦！", 1000);
                                    $.detachInfiniteScroll($('.infinite-scroll'));
                                    $('.infinite-scroll-preloader').hide();
                                    return;
                                }
                                addItems();
                                $.refreshScroller();
                            }, 100);
                        }); 
                        $.init();        
                    }); 
                    
                });
                $.init(); 
            });
        </script>
    </body>
</html>