<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="bizInfo-detail">
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left back" href="__APP__/Company/User/bizInfo"  data-transition="slide-out">
                        <span class="icon icon-left"></span>
                       返回
                    </a>
                    <h1 class="title">详细信息</h1>
                </header>
                <div class="content wrapPerfectInfo">
                    <form action="" method="post" id="bizInfo_detail-container" class="form_perfectInfo"></form>
                    <div class="content-block">
                        <div class="row">
                            <div class="col-100">
                                <a id="bizInfo_detail-submit" href="#" class="button button-big button_orange">保存</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Common/footer"/>
        <include file="Common/tpl/tpl-bizInfoDetail" />
        <include file="Common/tpl/tpl-bizCenter" />
        <include file="Common/tpl/tpl-bizInfo" />
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/company-user-bizInfo.js' charset='utf-8'></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/company-user-bizCenter.js?t=1482911928945' charset='utf-8'></script>
</html>

