<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="perfectInfo">
                <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="__MODULE__/User/bizCenter" data-panel="#">
                    <span class="icon icon-left"></span>
                   返回
                </a>
                    <h1 class="title">完善信息</h1>
                </header>
                <div class="content wrapPerfectInfo" id="wrapPerfectInfo">

                </div>
            </div>
        </div>  
        <include file="Common/footer"/>
        <include file="Common/tpl/tpl-Center" />
        <include file="Common/tpl/tpl-bizInfo" />
        <include file="Common/tpl/tpl-perfectInfo" />
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/company-user-bizInfo.js' charset='utf-8'></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/company-user-bizCenter.js?t=1482911928945' charset='utf-8'></script>
    </body>
</html>

