<!DOCTYPE html>
<html>
  <head>
    <title>萝卜兼职</title>
    <include file="Common/header"/>
  </head>
  <body>
    <div class="page-group">
        <div class="page page-current" id="catgList">
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left" href="/index.php" external id="backWithId">
                    <span class="icon icon-left"></span>
                   返回
                </a>
                <h1 class='title'></h1>
                <a class="button button-link button-nav pull-right"  id='user-center-btn'>
                    <span class="iconf iconf-user02"></span>
                </a>
            </header>
            <div class="wrapCatg">
                <!-- 筛选条件，主标签 -->
                <div class="tabGroup  buttons-tab fixed-tab" data-offset="44">
                    <div class="row no-gutter cateTab">
                        <div class="col-33 text-center pos_rela line_r" id="cate_region">
                            <font>区域</font>
                            <span class="icon icon-down"></span>
                        </div>
                        <div class="col-33 text-center pos_rela line_r" id="cate_category">
                            <font>分类</font>
                            <span class="icon icon-down"></span>
                        </div>
                        <div class="col-33 text-center" id="cate_timespan">
                            <font>时间</font>
                            <span class="icon icon-down"></span>
                        </div>
                    </div>
                </div>
                <!-- 筛选条件，副标签 -->
                <div class="wrapUl" id="wrapTabCat" style="display: none;">
                </div>
            </div>

            <div class="content infinite-scroll infinite-scroll-bottom bg_white" id="catgListScroll" data-distance="10">
                <div class="wrapJob">
                    <ul class="jobList"></ul>
                    <div class="infinite-scroll-preloader">
                        <div class="preloader"></div>
                    </div>
                </div>
                <footer class="text-center padd_20">
                    <p class="fc_orange f16">萝卜兼职网</p>
                    <p class="fc_orange f10">www.luobojianzhi.com</p>
                    <p class="f10">最靠谱的大学生兼职平台</p>
                </footer>
            </div>

            <div class="mask mask_tabCat" style="display: none"></div>
        </div>      
    </div>
    <script id="category-list-tpl" type="text/html">
        <ul>
            {{each items as item i}}
                <li class="category-item padd-20 pos_rela line_b" id="pCateId_{{#item.id}}_{{#item.name}}">{{#item.name}}</li>
            {{/each}}
        </ul>
    </script>
    <script id="regions-list-tpl" type="text/html">
        <ul>
            {{each items as item i}}
                <li class="category-item padd-20 pos_rela line_b" id="regionId_{{#item.id}}_{{#item.name}}">{{#item.name}}</li>
            {{/each}}
        </ul>
    </script>
    <script id="timespan-list-tpl" type="text/html">
        <ul>
            {{each items as item i}}
                <li class="category-item padd-20 pos_rela line_b" id="timeId_{{#item.id}}_{{#item.name}}">{{#item.name}}</li>
            {{/each}}
        </ul>
    </script>

    <include file="Common/footer"/>
    <script type="text/javascript" src="/Public/source/debug/scripts/home-job-detail.js?t=1484211825085"></script>
    <script>
        var categoryId = 0;//记录分类下某个筛选条件的Id，初始为全部，id=0;
        $(function () {
            var path = location.pathname;
            var type = path.substring(path.lastIndexOf("/type/")+6, path.length); //热门兼职还是最新兼职
            var cId = path.substring(path.lastIndexOf("/cId/")+5, path.lastIndexOf("/type/"));

            $('#backWithId').attr('href', '/index.php/Home/Index/index/cId/' + cId);
            
            if(isNaN(cId)||cId== -1) cId = 1;//默认值
            if(isNaN(type)||type== -1) type = 0;//默认值
            
            switch (parseInt(type)) {
                case 2: 
                $('.title').html('担保兼职');
                break;
                case 3: 
                $('.title').html('线上兼职');
                break;
                case 4:
                $('.title').html('名企实习');
                break;
                case 5: 
                $('.title').html('附近兼职');
                break;
                case 6:
                $('.title').html('寒暑假工');
                break;
                case 9:
                $('.title').html('名企招聘');
                cId = 1;
                break;
                default:
                $('.title').html('最新兼职');  
            }
            
            var catgType = 0; //0:兼职分类;1:全职分类
            if(type == 9){
                catgType = 1;
            }else {
                catgType = 0;
            }

            // 每页数据量
            var pageSize = 10;
            // 当前页码
            var currPage = 1;
            // 加载flag
            var loading = false;
            // 最大加载数
            var maxItems = 100;
            var subType = {"regionId":0, "pCateId":0, "timeId":0};

            var categoryType = -1;
            var queryPrms = { "regionId":0, "pCateId":0, "timeId":0 };

            // 初始化类别列表
            function initCategoryList(category) {

                var queryStr = APP_PATH+"/Home/Gp/regionList";
                var chooseTpl = "regions-list-tpl";
                var iconName = "区域";

                if(category === "cate_category")  {
                    queryStr = APP_PATH+"/Home/Job/getCategory";
                    chooseTpl = "category-list-tpl";
                    iconName = "分类";
                }
                if(category === "cate_timespan") {
                    queryStr = APP_PATH+"/Home/Job/timeSpan";
                    chooseTpl = "timespan-list-tpl";
                    iconName = "时间";
                }
                var cId = path.substring(path.lastIndexOf("/cId/")+5, path.lastIndexOf("/type/"));
                if(isNaN(cId)||cId== -1) cId = 1;//默认值
                $.ajax({
                    type: 'GET',
                    url: queryStr,
                    data: {"cId": cId,"type": catgType},
                    dataType: 'json',
                    timeout: 3000,
                    context: $('#wrapTabCat'),
                    success: function(data){
                        var self = this;
                        if(data.code) {
                            
                            if((type == 4 || type == 6) && category === "cate_category" ){
                                
                                data.data.splice(0,data.data.length);
                            }
                            data.data.unshift({"id":0, "name": "全部"});
                            var data = {
                                "items": data.data
                            };
                            console.log(data)
                            console.log(chooseTpl)
                            var html = template(chooseTpl, data);
                            console.log(html)
                            this.html(html);

                            // 绑定选择菜单事件
                            $('.category-item').click(function(){

                                var subCategoryId = $(this)[0].id;


                                var subCategories = subCategoryId.split("_");
                                var key = subCategories[0];
                                queryPrms[key] = subCategories[1];
                                subType = queryPrms;
                                console.log("subType", subType);

                                self.hide();
                                $(".mask_tabCat").hide();

                                var targetInfo = "#"+category;

                                // 处理tab名称的切换
                                if(subCategories[1] == 0 ) {
                                    $(targetInfo).children("font").html(iconName);
                                } else {
                                    $(targetInfo).children("font").html(subCategories[2]);
                                }

                                // 处理Tab名称颜色切换
                                $(targetInfo).prevAll().removeClass("tabCurr");
                                $(targetInfo).nextAll().removeClass("tabCurr");
                                $(targetInfo).toggleClass("tabCurr");

                                // 处理TabIcon样式切换
                                $(targetInfo).prevAll().children("span").removeClass("icon-up");
                                $(targetInfo).nextAll().children("span").removeClass("icon-up");
                                $(targetInfo).children("span").toggleClass('icon-up');


                                // 注销绑定滚动监听/无限加载事件/加载提示符
                                $(document).off('infinite');
                                $.detachInfiniteScroll($('.infinite-scroll'));
                                $('.infinite-scroll-preloader').remove();

                                // 重绘DOM元素
                                $('.content').remove();
                                $('.wrapCatg').after(template('scroll-base-tpl', {}));

                                $.refreshScroller();

                                currPage = 1;
                                addItems();

                                $(document).on('infinite', '.infinite-scroll-bottom', function() {
                                    if (loading) return;
                                    loading = true;
                                    setTimeout(function() {
                                        if (currPage*pageSize > maxItems) {
                                            $.toast("(^_^) 木有兼职信息啦！", 1000);
                                            $.detachInfiniteScroll($('.infinite-scroll'));
                                            $('.infinite-scroll-preloader').hide();
                                            return;
                                        }
                                        addItems();
                                        $.refreshScroller();

                                    }, 100);
                                });      
                                $.init();
                            });

                        } else {
                            $.toast("(^_^) 木有匹配的兼职信息！", 1000);
                        }
                    },

                    error: function(xhr, type){
                        server_error();
                    }
                });                
            };

            function addItems() {
                $.ajax({
                    type: 'GET',
                    url: APP_PATH+'/Home/Job/jobs',
                    data: { "cId": cId, 
                        "currPage": currPage, 
                        "pageSize": pageSize, 
                        "type": type, 
                        "subType": subType
                    },
                    dataType: 'json',
                    timeout: 3000, 
                    context: $('.jobList'),
                    success: function(data){
                        if(data.code) {
                            maxItems = data.data.total;
                            var data = {
                                "jobs": data.data.data
                            };

                            //电话咨询时“元/月”不显示
                            for(var i = 0;i<data.jobs.length;i++){
                              var num = /^[0-9,\.,\-,\+,\~]*$/;
                              var income = data.jobs[i].income;
                              var bool = num.test(income);
                              if(!bool){
                                data.jobs[i].incomeunit = '';
                              }
                            }
                                    
                            var html = template('job-list-tpl', data);
                            this.append(html);

                            if(maxItems<pageSize) { // 删除加载提示符
                                $('.infinite-scroll-preloader').hide();
                            }

                            // 重置加载flag
                            loading = false;
                            currPage ++;
                            console.log('next currPage', currPage);
                        } else {
                            $.toast("(^_^) 暂无匹配的兼职信息！", 1000);
                            $.detachInfiniteScroll($('.infinite-scroll'));
                            $('.infinite-scroll-preloader').remove();
                        }
                    },
                    error: function(xhr, type){
                        $.detachInfiniteScroll($('.infinite-scroll'));
                        $('.infinite-scroll-preloader').remove();
                        server_error();
                    }
                });
            }

            // 注册'infinite'事件处理函数
            $(document).on('infinite', '.infinite-scroll-bottom', function() {
                // 如果正在加载，则退出
                if (loading) return;
                // 设置flag
                loading = true;
                // 延迟100s的加载过程
                setTimeout(function() {
                    if (maxItems <= (currPage-1) * pageSize) {

                        $.toast("(^_^) 木有兼职信息啦！", 1000);

                        // 加载完毕，则注销无限加载事件，以防不必要的加载
                        $.detachInfiniteScroll($('.infinite-scroll'));
                        // 删除加载提示符
                        $('.infinite-scroll-preloader').hide();
                        return;
                    }
                    addItems();

                    //容器发生改变,如果是js滚动，需要刷新滚动
                    $.refreshScroller();
                }, 100);
            });      

            addItems();
            
            $(document).on("pageInit", "#catgList", function(e, pageId, $page) {

                console.log("inited page::", "catgList!");

                 // 跳转用户中心
                $('#user-center-btn').on('click', function (e){
                    $.ajax({
                        type: 'POST',
                        url:APP_PATH+ '/Home/User/isLogin',
                        dataType: 'json',
                        timeout: 3000,
                        success:function(res){
                            if(res.code==1){
                                location.href = APP_PATH + '/Home/User/userCenter';
                            }else{
                                $.toast("(^_^) 请先登录", 500);   
                                setTimeout(function(){
                                    location.href=APP_PATH +"/Home/Wechat/signIn";
                                }, 500);
                            }
                        },
                        error:function(){
                            server_error();
                        }
                    });
                });

                $('.cateTab div').off('click').on('click', function(e){
                    // 处理tab样式
                    $(this).prevAll().removeClass("tabCurr");
                    $(this).nextAll().removeClass("tabCurr");
                    $(this).toggleClass("tabCurr");

                    // 处理tab icon样式
                    $(this).children("span").toggleClass('icon-up');

                    // 处理内容列表样式 & 获取分类数据
                    if(categoryType != $(this)[0].id) {
                        $("#wrapTabCat").hide();
                        categoryType = $(this)[0].id;
                        initCategoryList(categoryType);
                    } 

                    $("#wrapTabCat").toggle();

                    // 处理职位列表遮罩层状态
                    if($('#wrapTabCat').css('display') == 'none') {
                        $(".mask_tabCat").hide();
                    } else {
                        $(".mask_tabCat").show();
                    }
                });
            });

            $.init();
        });
    </script>
  </body>
</html>