<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id='jobDetail'>
                <header class="bar bar-nav">
                  <a class="button button-link button-nav pull-left" href="__MODULE__/User/myFavorite" external>
                    <span class="icon icon-left"></span>
                    返回
                  </a>
                  <h1 class='title'>兼职详情</h1>
                </header>
                <div class="content native-scroll" id="jobDetailScroll">
                </div>
                <!-- 底部按钮组 -->
                <footer class="btnGroup">
                  <div class="row no-gutter">
                    <div class="col-33 text-center fc_orange pos_rela line_r" id="btnFav">
                      <span class="job-icon-star iconf iconf-fav"></span>
                      <span class="iconf">收藏</span>
                    </div>
                    <div class="col-33 text-center fc_orange pos_rela line_r" id="btnTel">
                      <span class="iconf iconf-tel"></span>
                      <span class="iconf">联系电话</span>
                    </div>
                    <div class="col-33 text-center fc_orange pos_rela" id="btnApply">
                      <span class="iconf iconf-word"></span>
                      <span class="iconf">立即申请</span>
                    </div>
                  </div>
                </footer>
            </div>
        </div>
        <include file="Common/footer"/> 
        <include file="Common/tpl/tpl-myFav" />
        <script type="text/javascript" src="/Public/source/debug/scripts/home-job-detail.js?t=1484211825085"></script>
        <script type='text/javascript' src='__PUBLIC__/source/debug/scripts/home-user-myfav.js?t=1484211825085' charset='utf-8'></script>
    </body>
</html>