<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
        <style type="text/css">
            body, html, #allmap {
                width: 100%;
                height: 100%;
                overflow: hidden; 
                margin: 0;
                font-family: "微软雅黑";
            }
        </style>
    </head>
    <body>
        <div class="page-group" style="display: block;">
            <div class="page" id='map'>
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left back">
                        <span class="icon icon-left"></span>
                     返回
                    </a>
                    <h1 class="title">查看地图</h1>
                </header>
                <div class="content">
                    <div class="mapCard">
                        <div class="cardlist">起点：<input type="text" id="startAddress"></div>
                        <div class="cardlist">终点：<input type="text" id="endAddress"></div>
                        <div class="goType">
                            <span class="pull-left">方式：</span>
                            <img src="/Public/images/i_radioUn.png" alt="" class="walk walkWay" data-type="1">
                            <label class="pull-left" class="walkWay">步行</label>
                            <img src="/Public/images/i_radio.png" alt="" class="bus busWay checkedType" data-type="2">
                            <label class="pull-left" class="busWay">公交</label>
                            <span class="map_button pull-right" id="checkWay">查询</span>
                        </div>
                    </div>
                    <div class="wrapMap" id ="allmap"></div>
                </div>
            </div>
        </div>

        <include file="Common/footer"/> 

        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=P5AXQi2Q4I1wGcSGdIYZMPOG"></script>
        <script type="text/javascript" src='__PUBLIC__/source/debug/scripts/home-job-map.js' charset='utf-8'></script>

    </body>
</html>
