<!DOCTYPE>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Common/header"/>
    </head>
    <body>
        <div class="page  page-current ff" id="bizJoin">
            <div class="content">
                <img src="/Public/images/join_bg1.png?t=1480995490157" class="img-responsive">
                <section>
                    <h3>
                        项目简介<span>Introduction</span>
                    </h3>
                    <div class="">
                        萝卜兼职是山东盈帆科技推出的一款基于大数据分析的移动互联网兼职服务平台，通过智能推荐系统为全国大学生提供靠谱的兼职岗位，同时为企业提供多元化的人力资源解决方案。萝卜兼职以手机APP为核心，以PC端网站为切入点，通过微信公众号进行快速传播，从而全方位覆盖大学生寻找兼职岗位的渠道，达到快速人岗匹配的目的。
                    </div>
                </section>
                <section>
                    <h3>
                        服务优势<span>SERVICE</span>
                    </h3>
                    <p class="">
                        1、专业性：<br>
每一次的兼职工作之前，我公司都会为企业岗位招聘的进行一系列的培训， 通过考试合格者才可担任此工作。
                    </p>
                    <p class="">
                        2、规范性：<br>
我公司对学生的工资采用日结的方式进行结算，与合作的企业在项目结束后 进行统一结算。
                    </p>
                    <p class="">
                        3、规模性：<br>
各行各业都需要不一样技能的兼职人才，我公司在威海地区几所高校中，累 积3万的大学生资源，保证为企业提供优质的服务质量。
                    </p>
                </section>
                <div class="form_ad">
                    <form action="">
                          <fieldset>
                              <legend class="adTstyle">招商加盟</legend>
                              <span>联系人<b style="color:red">*</b></span><input id="linkman" name="linkman" class="txtStyle" type="text" />
                              <br /><span>电话<b style="color:red">*</b></span><input name="phone" class="txtStyle" type="text" />
                              <br /><span>意向合作省市<b style="color:red">*</b></span>
                              
                              <div class="f_left selectProvince wrapProv">
                                  <select id="province" name="provinceId" class="">
                                      <option value="1">山东省</option>
                                  </select>
                                  <!-- <span class="icon icon-right pos_arr"></span> -->
                              </div>
                              <div class="f_left selectCity">
                                  <select id="city" name="cityId" class="">
                                      <option value="1">威海市</option>
                                  </select>
                                  <!-- <span class="icon icon-right pos_arr" style="right: -.45rem;"></span> -->
                              </div>
                              
                              
                        </fieldset>
                    </form>
                </div>
                <div class="btn_submit">
                    提交
                </div>
            </div>
            <footer class="footer_botm">
                <img src="/Public/images/btn_call.png" class="btn_call">
                <img src="/Public/images/btn_join.png" class="btn_pt" id="btn_join">
            </footer>
        </div>
        <include file="Common/footer"/>  
        <script id='sendJob-city-tpl' type='text/html'>
            {{each cities as value index}}
                <option value="{{value.id}}" {{value.id==='1' ? 'selected':''}}>{{value.name}}</option>
            {{/each}}
        </script>

        <script id='sendJob-province-tpl' type='text/html'>
            {{each provinces as value index}}
                <option value="{{value.id}}" {{value.id==='1' ? 'selected':''}}>{{value.name}}</option>
            {{/each}}
        </script>
        <script src="__PUBLIC__/source/debug/scripts/company-league-formSubmit.js?t=1482911928945"></script>
        <script type="text/javascript">
            /* globals T, initT, APP_PATH, server_error, $, template, console */
            'use strict';
            var t = new T('/Company/League/league'), provinces = {};
            initT(t, $('.btn_submit'), $('.btn_call'), $('.btn_pt'), $('#bizJoin')[0]);
            $.ajax({
                type: 'POST',
                url: APP_PATH + '/Home/Gp/citylist',
                dataType: 'json',
                timeout: 3000,
                async: true,
                success:function(res){
                    console.log(res);
                    if(res.code === 1){
                        for (var i in res.data){
                            provinces['p'+(res.data[i].id)] = res.data[i];
                            $('#province').html(template('sendJob-province-tpl', {provinces: provinces}));
                            reRenderCitylist();
                        }
                    }else
                        server_error();
                },
                error:function(){
                    server_error();
                }
            });
            function reRenderCitylist(){
                var proid =  $('#province').val();
                if (proid) {
                  proid = 'p' + proid;
                } else {
                  proid = 'p1';
                }
                $('#city').html(template('sendJob-city-tpl',{cities:provinces[proid].data}));
            }
            $("#province").change(reRenderCitylist);
        </script>      
    </body>
</html>