<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--禁止自动识别电话号码/邮箱-->
<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">    
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="shortcut icon"  type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">

<link rel="stylesheet" href="__PUBLIC__/source/debug/styles/sm.css">
<link rel="stylesheet" href="__PUBLIC__/source/debug/styles/sm-extend.css">
<link rel="stylesheet" href="__PUBLIC__/source/debug/styles/main.css?t=1482911928946">
<link rel="stylesheet" href="__PUBLIC__/source/debug/styles/biz.css">

<script>
    var ROOT ="__ROOT__";
    var APP_PATH = "__APP__";
    var MOD_PATH = "__MODULE__";
    var CON_PATH = "__CONTROLLER__";
</script>

<script type="text/javascript">
    function server_error() {
        $.toast("(^_^) 同学们太热情，萝卜表示鸭梨很大！");
    }
    function data_warn() {
        $.toast("(^_^)  木有兼职信息啦！", 1000);
    }
    function opt_success() {
        $.toast("(^_^)  信息更新成功啦", 1000);
    }
    function opt_fail() {
        $.toast("(^_^)  信息重复更新啦", 1000);
    }    
</script>

<script id ="select-option-tpl" type='text/html'>
    {{each option as value index}}
        {{if value.status==1}}
            <option value="{{value.id}}"{{value.id == current?'selected':''}}>{{value.name}}</option>
        {{/if}}
    {{/each}}
</script> 

