<!-- 模板-商品列表 -->
<script id="shop-list-tpl" type="text/html">
    {{each jobs as job i}}
        <li class="jobLi shopLi" iIndex="jobLi{{i}}">
            <a href="__APP__/Home/Shop/shopDetail/id/{{#job.id}}/superType/{{#job.supertype}}">
                <div class="wrapShopImg">
                    <img src="https://img.alicdn.com/imgextra/i2/263726286/TB2MofabwhJc1FjSZFDXXbvnFXa_!!263726286.jpg_430x430q90.jpg" alt="默认商品图像" class="shopImg img-responsive">    
                </div>
                <div class="row no-gutter">
                    <div class="col-100 tx_ellips">
                        {{#job.title}}
                    </div>
                </div>
                <div class="row no-gutter">
                    <div class="col-100 tx_ellips f12 fc_lightGray">
                        {{#job.title}}
                    </div>
                </div>
                <div class="row no-gutter pos_rela">
                    <div class="col-66 fc_lightGray">
                        <p class="f12 pos_rela" style="margin-top: .2rem;">
                            <span class="jobType">
                                <img src="__PUBLIC__/images/ziying02.png" alt="萝卜自营">
                            </span>
                        </p>
                        <p class="f12 pos_rela row no-gutter" style="margin-top: .1rem;">
                            <span class="tx_ellips col-50 fc_red">
                                <span class="pull-left" style="line-height: 1.9;">￥</span>
                                <stong class="f14 pull-left">2299.00</stong>
                            </span>
                            <del class="tx_ellips col-50 pull-left">￥2299.00</del>
                        </p>
                    </div>
                    <div class="col-33 text-right">
                        <span id="" href="javascript:void(0);" class="button f14 btnBuy">立即购买</span>
                    </div>
                </div>
            </a>
        </li>
    {{/each}}
</script>

<!-- 模板-轮播图 -->
<script id="banner-list-tpl" type="text/html">
    <div class="swiper-wrapper">
        {{each banners as banner i}}
            <div class="swiper-slide">
                {{if banner.linkurl == '' }} 
                <!-- 取消轮播图的链接 -->
                <!-- <a href="javascript:void(0)"> -->
                <a>
                    <img src="{{#banner.image}}" alt="{{#banner.id}}">
                </a>
                {{else}} 
                <!-- <a href="{{banner.linkurl}}"> -->
                <a href="{{#banner.linkurl}}" external>
                    <img src="{{#banner.image}}" alt="{{#banner.id}}">
                </a>
                {{/if}}
            </div>
        {{/each}}
    </div>
    <div class="swiper-pagination"></div>
</script>

<script id="category-list-tpl" type="text/html">
    <ul>
        {{each items as item i}}
            <li class="category-item padd-20 pos_rela line_b" id="pCateId_{{#item.id}}_{{#item.name}}">{{#item.name}}</li>
        {{/each}}
    </ul>
</script>
<script id="timespan-list-tpl" type="text/html">
    <ul>
        {{each items as item i}}
            <li class="category-item padd-20 pos_rela line_b" id="timeId_{{#item.id}}_{{#item.name}}">{{#item.name}}</li>
        {{/each}}
    </ul>
</script>

<!-- 模板-商品详情 -->
<script id="shop-detail-tpl" type="text/html">
    <div class="wrapShopDetail">
        <section class="marg_bottom_10">
            <div class="line_b pos_rela">
                <p class="fc_orange line_h1">测试</p>   
            </div>
            <div class="f14">
                <p class="row no-gutter line_h2">
                    <span class="col-25 fc_lightGray">发布机构：</span>
                    <span class="col-75 tx_ellips">实得分</span>
                </p>
                <p class="row no-gutter line_h1">
                    <span class="col-25 fc_lightGray">招聘人数：</span>
                    <span class="col-75 tx_ellips">34人</span>
                </p>
                <p class="row no-gutter line_b pos_rela line_h2">
                    <span class="col-25 fc_lightGray">工资待遇：</span>
                    <span class="col-75 tx_ellips">地方</span>
                </p>
                <p class="row no-gutter line_b pos_rela line_h2">
                    <span class="col-25 fc_lightGray">结算方式：</span>
                    <span class="col-75 tx_ellips">的风格</span>
                </p>
                <p class="row no-gutter line_b pos_rela line_h2">
                    <span class="col-25 fc_lightGray">兼职类型：</span>
                    <span class="col-75 tx_ellips detail_jobType">
                       <img src="__PUBLIC__/images/ziying.png" alt="萝卜自营">  
                    </span>
                </p>                 
                <p class="row no-gutter line_b pos_rela line_h22">
                    <span class="col-25 fc_lightGray">工作地点：</span>
                    <span class="col-75">的法国队</span>
                    <a href="__APP__/Home/Job/map.html?address={{address}}" style="display: none;">
                        <span class="col-33 tx_ellips f12 fc_lightGray" style="margin-top: .15rem;">点击查看地图&nbsp;&nbsp;></span>
                    </a>
                    <div class="wrapMap" id ="allmap"></div>
                </p>
                <p class="fc_orange line_h2">
                    <i class="iconf iconf-notice f14"></i><span class="iconf f12 marg_left_10">凡是收费的兼职信息，请谨慎选择！</span>
                </p>
            </div>
        </section> 
        <section class="marg_bottom_10">
            <div class="line_b pos_rela fc_orange line_h1 padd_bottom_10">
              <i class="iconf iconf-edit"></i><span class="iconf marg_left_10">职位描述</span>
            </div>
            <div class="f12 fc_lightGray marg_top_10 jobIntro">
              是电饭锅
            </div>
        </section> 
        <section class="marg_bottom_10">
            <div class="line_b pos_rela fc_orange line_h1 padd_bottom_10">
              <i class="iconf iconf-edit"></i><span class="iconf marg_left_10">企业信息</span>
            </div>
            <div class="f12 fc_lightGray marg_top_10">
              的三个点
            </div>
        </section>  
    </div>
</script> 