<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Task/tpl/tpl-header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="detail">
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left back" href="__APP__/Home/Task/index">
                        <span class="icon icon-left"></span>返回
                    </a>
                    <h1 class='title'>兼职详情</h1>
                </header>
                <div class="content bg_white" id="wrap_detail">
                    <!-- to be filled -->
                </div>
                <div class="wrap-btn"></div>
            </div>
            <div class="panel-overlay"></div>
        </div>  
        <include file="Task/tpl/tpl-footer"/>
    </body>
</html>