<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Task/tpl/tpl-header"/>
    </head>
    <body>
        <div class="page-group">
                <div class="page page-current" id="index">
                    <header class="bar bar-nav">
                        <a class="button button-link button-nav pull-left" href="/index.php" external>
                            <span class="icon icon-left"></span>返回
                        </a>
                        <h1 class='title'>线上兼职</h1>
                        <a class="button button-link button-nav pull-right" id="refresh_btn">
                            <span class="icon icon-refresh"></span>
                        </a>
                    </header>
                    <div class="content infinite-scroll infinite-scroll-bottom bg_white" data-distance="100">
                        <div class="wrap_head">
                            <div class="left_part">
                                <span></span>
                                <h3>我的兼职</h3>
                            </div>
                            <div class="center_part">
                                <div class="wrap_avatar">
                                    <img src="__PUBLIC__/task/image/default_head.png" width="146" height="146" alt="头像">
                                </div>
                            </div>
                            <div class="right_part">
                                <span></span>
                                <h3>我的收入</h3>
                            </div>
                        </div>
                        <div class="filter_2_col">
                            <a href="javascript:;" id="task_type_filter">
                                <span>类型</span>
                            </a>
                            <a href="javascript:;" id="task_sort_filter">
                                <span>排序</span>
                            </a>
                            <ul>
                                <li action data-type="1">注册下载</li>
                                <li action data-type="2">APP试玩</li>
                                <li action data-type="3">用户调研</li>
                                <li action data-type="4">其他</li>
                            </ul>
                            <ul>
                                <li action data-sort="1">单价最高</li>
                                <li action data-sort="2">审核最快</li>
                            </ul>
                        </div>
                        <div class="list-block">
                            <ul class="task-list">
                                <!-- to be filled by  -->
                            </ul>
                            <!-- 加载提示符 -->
                            <div class="infinite-scroll-preloader">
                                <div class="preloader"></div>
                            </div>
                        </div>
                         <!-- 底部版权信息 -->
                        <footer class="text-center padd_20">
                            <p class="fc_orange f16">萝卜兼职网</p>
                            <p class="fc_orange f10">www.luobojianzhi.com</p>
                            <p class="f10">最靠谱的大学生兼职平台</p>
                        </footer>                   
                    </div>
                </div>
                <div class="panel-overlay"></div>
        </div>  
        <include file="Task/tpl/tpl-footer"/>
    </body>
</html>