<!DOCTYPE html>
<html>
    <head>
        <title>萝卜兼职</title>
        <include file="Task/tpl/tpl-header"/>
    </head>
    <body>
        <div class="page-group">
            <div class="page page-current" id="step">
                <header class="bar bar-nav">
                    <a class="button button-link button-nav pull-left back" href="">
                        <span class="icon icon-left"></span>返回
                    </a>
                    <h1 class='title'>提交任务</h1>
                </header>
                <div class="content">
                    <div class="step-count"><span>&nbsp;</span></div>
                    <div class="wrap-step">
                        <div class="wrap-step-inner">
                            <section class="">
                                <!--to be filled-->
                            </section>
                        </div>
                    </div>

                    <div class="step-form">
                        <h3><span class="step-form-title">请按要求上传相关信息</span></h3>
                        <div class="fold-step-form"></div>
                        <div class="wrap-form-inner">
                            <!--to be filled-->
                        </div>
                        <div class="text-form" style="display:none;">
                            <textarea name="textInfo" id="" cols="30" rows="10" placeholder="请填写信息"></textarea>
                        </div>
                        <div class="file-form" style="display:none;">
                            <label for="step_picture"></label>
                            <form class="form_for_reset">
                                <input type="file" name="file" class="step_picture" id="step_picture" />
                            </form>
                            <div class="tooltip">上滑图片可以删除它</div>
                        </div>
                    </div>
                    <a class="btn-submit">提交</a>
                    <!-- <a class="btn-submit">提交<span>(请在<span>00:59:59</span>内按要求提交)</span></a> -->
                </div>
            </div>
            <div class="panel-overlay"></div>
        </div>  
        <include file="Task/tpl/tpl-footer"/>      
    </body>
</html>